@model List<PurchaseWeb_2.ModelData.PO_Mst>

<p>
    @*
    @using (Html.BeginForm("ExportToExcel", "PO", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" id="FromDates" name="FromDates" value="" />
        <input type="hidden" id="ToDates" name="ToDates" value="" />
        <button class="btn btn-primary" id="btnExport" name="btnExport" onclick="">Export To Excel</button>
    }
    *@
</p>

<div class="card-info">
    <div class="card-header">

    </div>
    @*@using (Ajax.BeginForm("ExportToCSV", "PO", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivPOListByDate" }))*@
    @using (Html.BeginForm("ExportToCSV", "PO", FormMethod.Post))
    {
        <div class="card-body">
            <table class="table table-sm table-responsive">
                <tr>
                    <th>
                        No.
                    </th>
                    <th>

                    </th>
                    <th>
                        PO No.
                    </th>
                    <th>
                        PR No.
                    </th>
                    <th>
                        PR Type
                    </th>
                    <th>
                        PO Date
                    </th>
                    <th>
                        Purchaser
                    </th>

                    <th>
                        PR Date
                    </th>
                    <th>
                        Requestor
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        CPRF & Account
                    </th>
                    <th>
                        PO Total Amount
                    </th>
                </tr>

                @*
                    @foreach (var item in Model)*@
                @{ int j = 0;}
                @for (int i = 0; i < Model.Count(); i++)
                {
                    j = j + 1;
                    <tr>
                        <td>
                            @j
                            @*@Html.DisplayFor(modelItem => Model[i].RN)*@
                            @Html.HiddenFor(Model => Model[i].POId)
                            @Html.HiddenFor(Model => Model[i].CreateDate)
                            @Html.HiddenFor(Model => Model[i].NoPo)
                            @Html.HiddenFor(Model => Model[i].CreateBy)

                        </td>
                        <td>

                            @if (Model[i].ExportFlag)
                            {
                                @Html.CheckBoxFor(modeItem => Model[i].ExportFlag, new { @disabled = "disabled" })
                            }
                            else
                            {
                                @Html.CheckBoxFor(modeItem => Model[i].ExportFlag)
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model[i].NoPo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model[i].PRNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model[i].PR_Mst.PRType_mst.Name)
                        </td>
                        <td>
                            @{
                                String strCreateDatePO = "";
                                if (Model[i].CreateDate != null)
                                {
                                    DateTime dtCreateDatePO = (DateTime)Model[i].CreateDate;
                                    strCreateDatePO = dtCreateDatePO.ToString("dd/MM/yyyy");
                                }
                                else
                                {
                                    strCreateDatePO = DateTime.Now.ToString("dd/MM/yyyy");
                                }
                            }

                            @strCreateDatePO

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model[i].Purchasername)
                        </td>
                        
                        <td>
                            @{
                                String strReqdate = "";
                                if (Model[i].RequisitionDate != null)
                                {
                                    DateTime reqdate = (DateTime)Model[i].RequisitionDate;
                                    strReqdate = reqdate.ToString("dd/MM/yyyy");
                                }
                                else
                                {
                                    strReqdate = DateTime.Now.ToString("dd/MM/yyyy");
                                }
                            }

                            @strReqdate

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model[i].RequestorName)
                        </td>
                        <td>
                            @if (Model[i].Description != null)
                            {
                                @Html.Raw(Model[i].Description.Replace(Environment.NewLine, "<br/>"))
                            }


                        </td>
                        <td>
                            @foreach (var item in ViewBag.expList)
                            {
                                if (Model[i].PR_Mst.AccountCode != null)
                                {
                                    if (item.ExpCode == Model[i].PR_Mst.AccountCode.Substring(0, 5))
                                    {
                                        <b>Account Name :</b>@item.ExpName
                                    }
                                }

                            }

                            @if (Model[i].PR_Mst.CPRF != null)
                            {
                                <b>CPRF No : </b>@Model[i].PR_Mst.CPRF
                                <br />
                                <b>Asset No : </b>@Model[i].PR_Mst.AssetNo
                                <br />
                                <b>IO Order No : </b>@Model[i].PR_Mst.IOrderNo
                                <br />
                                <b>Cost Centre No : </b>@Model[i].PR_Mst.CostCentreNo

                            }
                        </td>
                        <td>
                            @{String strTotPOAmt = String.Format("{0:n}", Model[i].TotPOAmt);}
                            @strTotPOAmt

                        </td>
                    </tr>
                }

            </table>
        </div>
        <div class="card-footer">
            <div class="container">
                <div class="row">
                    <div class="col-centered">
                        <button style="display:none" class="btn btn-info" name="Export" value="CSV" type="submit">Export CSV</button>
                        <button style="display:none" class="btn btn-info" name="Export" value="Excel" type="submit">Export Excel</button>
                        <button  class="btn btn-info" name="Export" value="ExcelUpdate" type="submit">Export Excel</button>
                    </div>
                </div>
            </div>
            
            
        </div>
    }

</div>





