@model List<PurchaseWeb_2.ModelData.GetPOListbyDate_Result>

<p>
    @*
    @using (Html.BeginForm("ExportToExcel", "PO", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" id="FromDates" name="FromDates" value="" />
        <input type="hidden" id="ToDates" name="ToDates" value="" />
        <button class="btn btn-primary" id="btnExport" name="btnExport" onclick="">Export To Excel</button>
    }
    *@
</p>

<table class="table">
    <tr>
        <th>
            No.
        </th>
        <th>

        </th>
        <th>
            PO No.
        </th>
        <th>
            PO Date
        </th>
        <th>
            Purchaser
        </th>
        <th>
            PR No.
        </th>
        <th>
            PR Date
        </th>
        <th>
            Requestor
        </th>
        <th>
            Description
        </th>
        <th>
            PO Total Amount
        </th>
    </tr>
    @*
    @foreach (var item in Model)*@
    @for (int i = 0; i < Model.Count(); i++)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model[i].RN)
            </td>
            <td>
                @if (Model[i].ExportFlag)
                {
                    @Html.CheckBoxFor(modeItem => Model[i].ExportFlag, new { @disabled = "disabled" })
                }
                else
                {
                    @Html.CheckBoxFor(modeItem => Model[i].ExportFlag)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model[i].NoPo)
            </td>
            <td>
                @{
                    String strCreateDatePO = "";
                    if (Model[i].CreateDatePO != null)
                    {
                        DateTime dtCreateDatePO = (DateTime)Model[i].CreateDatePO;
                        strCreateDatePO = dtCreateDatePO.ToString("dd/MM/yyyy");
                    }
                    else
                    {
                        strCreateDatePO = DateTime.Now.ToString("dd/MM/yyyy");
                    }
                }

                @strCreateDatePO
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model[i].Purchasername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model[i].PRNo)
            </td>
            <td>
                @{
                    String strReqdate = "";
                    if (Model[i].RequisitionDate != null)
                    {
                        DateTime reqdate = (DateTime)Model[i].RequisitionDate;
                        strReqdate = reqdate.ToString("dd/MM/yyyy");
                    }
                    else
                    {
                        strReqdate = DateTime.Now.ToString("dd/MM/yyyy");
                    }
                }
                    
                @strReqdate
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model[i].RequestorName)
            </td>
            <td>
                @if (Model[i].Description != null)
                {
                    @Html.Raw(Model[i].Description.Replace(Environment.NewLine, "<br/>"))
                }
                

            </td>
            <td>
                @{String strTotPOAmt = String.Format("{0:n}", Model[i].TotPOAmt);}
                @strTotPOAmt
                
            </td>
        </tr>
    }
</table>




