
@{
    ViewBag.Title = "POProsesView";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<h1>PO Proses</h1>
<div class="invoice p-3 mb-3">
    <div class="row">
        <div class="col-md-12">
            @{ Html.RenderAction("PurMstViewSelected", "Purchase", new { PrMstId = ViewBag.PrMstId });}
        </div>
    </div>
    <!--Add PR discount if any-->
    @if (ViewBag.Discount > 0)
    {
        <div class="row">
            <div class="col-md-12">
                @{ Html.RenderAction("PRViewDiscount", "Purchase", new { PrMstId = ViewBag.PrMstId });}
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-12">
            <div id="DivPurDetailsPOViewSelected">
                @{ Html.RenderAction("PurDetailsPOViewSelected", "PO", new { PrMstId = ViewBag.PrMstId });}
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-centered">
                @if (ViewBag.StatusId == 8)
                {
                    @Html.ActionLink("Return To Main PR", "HODPurApprovalList", "Purchase", null, new { @class = "btn btn-primary" })
                }
                else if (ViewBag.StatusId == 3)
                {
                    @Html.ActionLink("Return To Main PR", "ApprovalHOD", "Purchase", null, new { @class = "btn btn-primary" })
                }
                else if (ViewBag.StatusId == 5)
                {
                    @Html.ActionLink("Return To Main PR", "MDApprovalList", "Purchase", null, new { @class = "btn btn-primary" })
                }
                else if (ViewBag.StatusId == 9)
                {
                    @Html.ActionLink("Return To Main PR", "PoProsesList", "PO", null, new { @class = "btn btn-primary" })
                    <a>&nbsp;</a>
                    @*@Html.ActionLink("Reject PR back to Purchasing", "POReject", "PO", new { PrMstId = ViewBag.PrMstId }, new { @class = "btn btn-danger" })
                        <a>&nbsp;</a>*@
                    @Html.ActionLink("Review", "ReviewPR", "PO", new { PrMstId = ViewBag.PrMstId }, new { @class = "btn btn-info" })
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#rejectPR">
                        Reject PR back to Sourcing
                    </button>
                    <a>&nbsp;</a>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#rejectPRuser">
                        Reject PR back to User
                    </button>
                    @*<a>&nbsp;</a>
                    @Html.ActionLink("Reject PR back to User", "PORejectToUser", "PO", new { PrMstId = ViewBag.PrMstId }, new { @class = "btn btn-danger" })*@
                }
                else
                {
                    @Html.ActionLink("Return To Main PR", "PurRequest", "Purchase", null, new { @class = "btn btn-primary" })
                }

            </div>
        </div>
    </div>

</div>

<!--Modal to reject-->
<div class="modal fade" id="rejectPR" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reject PR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @{Html.RenderAction("RejectPOForm", "PO", new { PrMstId = ViewBag.PrMstId });}

        </div>
    </div>
</div>

<!--Modal to reject-->
<div class="modal fade" id="rejectPRuser" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reject PR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @{Html.RenderAction("RejectPOUserForm", "PO", new { PrMstId = ViewBag.PrMstId });}

        </div>
    </div>
</div>
