@model IEnumerable<PurchaseWeb_2.ModelData.PR_Mst>

@{
    ViewBag.Title = "PoProsesList";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<h1>PO Process</h1>
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">List of PR for HOD Puchasing Department Approval</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="body">
        <div id="notification">
            @Html.Partial("_Notifications")
        </div>

        @ViewBag.Message

        @if (ViewBag.Message != null)
        {
            if ((ViewBag.Message).Contains("Approved"))
            {
                <div class="alert alert-success alert-dismissible" id="divAlert">
                    @ViewBag.Message
                </div>
            }
            else
            {
                <div class="alert alert-danger alert-dismissible" id="divAlert">
                    @ViewBag.Message
                </div>
            }

        }
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PRNo)
                </th>
                <th>
                    PR Date
                </th>
                <th>
                    Department
                </th>
                <th>
                    Requestor
                </th>
                <th>
                    PR Type
                </th>
                <th>
                    PR Group
                </th>
                <th>
                    Grand Amount
                </th>
                <th>
                    Status
                </th>
                <th>
                    Budget Status
                </th>
                <th>
                    PR Details Left
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PRNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccTypeDept.DeptName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usr_mst.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PRType_mst.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrGroupType1.GroupName)
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-md-4">
                                @foreach (var currency in item.PR_Details.OrderBy(o => o.CurCode).GroupBy(x => x.CurCode))
                                {

                                    @currency.Max(s => s.CurCode) <br />
                                }
                            </div>
                            <div class="col-md-8">
                                @foreach (var currency in item.PR_Details.OrderBy(o => o.CurCode).GroupBy(x => x.CurCode))
                                {
                                    String strTotCostWitTax = String.Format("{0:n}", currency.Sum(s => s.TotCostWitTax));
                                    @strTotCostWitTax
                                    @*
                                        @currency.Sum(s => s.TotCostWitTax) *@
                                    <br />
                                }
                            </div>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status_Mst.Name)
                    </td>
                    <td>
                        @if (item.FlagUpdatedCPRF == true || item.FlagUpdateMonthlyBudget == true)
                        {
                            <p>Reviewed</p>
                        }
                    </td>
                    <td>
                        @item.PR_Details.Where(x => x.PoFlag == null || x.PoFlag == false).Count()
                    </td>
                    <td>
                        @if (item.PRTypeId == 4)
                        {
                            @Html.ActionLink("Budget", "budgetUpdate", "Purchase", new { PrMstId = item.PRId }, new { @class = "btn btn-warning" })
                        }
                        @Html.ActionLink("View", "POProsesView", "PO", new { PrMstId = item.PRId }, new { @class = "btn btn-info" })

                    </td>
                </tr>
            }

        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#divAlert").delay(3000).fadeOut("slow");
    });
</script>
<script>
    $(document).ready(function () {
        $("#notification").delay(2500).fadeOut("slow");
    });
</script>
