@model PurchaseWeb_2.ModelData.Menu_mst

@{
    ViewBag.Title = "MenuEdit";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Menu Master (Edit)</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("MenuEdit", "Main", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Menu_id)

                        <div class="form-group">
                            <label class="control-label col-md-10">Menu name</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Menu_name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Menu_name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-10">Menu URL</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Menu_url, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Menu_url, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-10">Menu Controller</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Controller, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Controller, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-10">Menu Action</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Action, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Action, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-10">Menu Parent</label>
                            <div class="col-md-10">
                                <select class="custom-select form-control-border" data-val="true" data-val-number="The field Menu_ParentId must be a number." id="Menu_ParentId" name="Menu_ParentId">
                                    <option value="0">This is Parent Menu</option>
                                    @foreach (var menu in ViewBag.menuParent)
                                    {
                                        if (menu.Menu_id == Model.Menu_ParentId)
                                        {
                                            <option value="@menu.Menu_id" selected>@menu.Menu_name</option>
                                        }
                                        else
                                        {
                                            <option value="@menu.Menu_id">@menu.Menu_name</option>
                                        }
                                    }
                                </select>

                                @Html.ValidationMessageFor(model => model.Menu_ParentId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-10">Menu Order</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Ordering, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Ordering, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                               
                                <div class="col-md-4">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Save" class="btn btn-success" />
                                    </div>
                                </div>
                                <div class="col-md-4"></div>
                            </div>


                        </div>
                    </div>
                }
            </div>
            <div class="card-footer">
                <a class="btn btn-info" href="@Url.Action("Menu","Main")">Return Back to List</a>
            </div>
        </div>
    </div>
</div>




