@model IEnumerable<PurchaseWeb_2.ModelData.Menu_mst>

<div class="row">
    <div class="col-md-8">
        <table class="table">
            <tr>
                <th>
                    Menu Name
                </th>
                <th>
                    URL
                </th>
                <th>
                    Controller
                </th>
                <th>
                    Action
                </th>
                <th>
                    Order
                </th>
                <th></th>
            </tr>

            @foreach (var m in Model.OrderBy(x => x.Ordering))
            {
                if (m.Menu_ParentId == 0 && m.Active == true)
                {
                    var submenu = Model.Where(n => n.Menu_ParentId == m.Menu_id && n.Active == true).OrderBy(n=>n.Ordering).ToList();

                    if (submenu != null && submenu.Count > 0)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => m.Menu_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => m.Menu_url)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => m.Controller)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => m.Action)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => m.Ordering)
                            </td>
                            <td>
                                <a href="@Url.Action("MenuEdit","Main", new { id=m.Menu_id })" class="btn btn-info"><i class="fa fa-pen"> </i></a> &nbsp;&nbsp;
                                <a href="@Url.Action("MenuDelete","Main", new { id=m.Menu_id })" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                @*
                                    @Html.ActionLink("Edit", "MenuEdit", new { id = m.Menu_id }) |
                                    @Html.ActionLink("Delete", "MenuDelete", new { id = m.Menu_id })
                                *@
                            </td>
                        </tr>
                        foreach (var n in submenu)
                        {
                            <tr>
                                <td>
                                    <i class="fa fa-arrow-right"> </i>&nbsp;&nbsp; @Html.DisplayFor(modelItem => n.Menu_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => n.Menu_url)
                                </td>
                                <td>
                                @Html.DisplayFor(modelItem => n.Controller)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => n.Action)
                            </td>
                                <td>
                                    @Html.DisplayFor(modelItem => n.Ordering)
                                </td>
                                <td>
                                    <a href="@Url.Action("MenuEdit","Main", new { id=n.Menu_id })" class="btn btn-info"><i class="fa fa-pen"> </i></a> &nbsp;&nbsp;
                                    <a href="@Url.Action("MenuDelete","Main", new { id=n.Menu_id })" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                    
                                </td>
                            </tr>
                        }

                    }
                    else
                    {
                        <tr >
                            <td>
                                @Html.DisplayFor(modelItem => m.Menu_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => m.Menu_url)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => m.Controller)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => m.Action)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => m.Ordering)
                            </td>
                            <td>
                                <a href="@Url.Action("MenuEdit","Main", new { id=m.Menu_id })" class="btn btn-info"><i class="fa fa-pen"> </i></a> &nbsp;&nbsp;
                                <a href="@Url.Action("MenuDelete","Main", new { id=m.Menu_id })" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                
                            </td>
                        </tr>
                    }


                }
            }



        </table>
    </div>
</div>

