@model IEnumerable<PurchaseWeb_2.ModelData.Position_mst>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Position_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Create_date)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model.Where(x => x.Active == true) ) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Position_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Create_date)
        </td>
        
        <td>
            <a href="@Url.Action("roleEdit","Main", new { id=item.Psn_id })" class="btn btn-info"><i class="fa fa-pen"> </i></a> &nbsp;&nbsp;
            <a href="@Url.Action("roleDelete","Main", new { id=item.Psn_id })" class="btn btn-danger"><i class="fa fa-trash"></i></a>

        </td>
    </tr>
}

</table>
