@model PurchaseWeb_2.Models.PRdtlsViewModel

@{
    ViewBag.Title = "AddPurDtlsType3";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<style>
    .zoomedElement {
        /*background-color: #50CBFF;*/
        zoom: 90%;
    }

    .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
</style>

<div class="row">
    <div class="col-md-8">
        @{ Html.RenderAction("PurMstSelected", "Purchase", new { PrMstId = ViewBag.PrMstId, PrGroup = 0 });}
    </div>
    <div class="col-md-4">
        @{ Html.RenderAction("UploadQuo", "Purchase", new { PrMstId = ViewBag.PrMstId });}
    </div>
</div>



<div class="row zoomedElement">
    <div class="col-md-12">
        <!--card header-->
        <div class="card card-primary">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-2 ">
                        <h3 class="card-title vertical-center">Purchase Request Details</h3>
                    </div>

                </div>
            </div>
        </div>
        <!--card body-->
        @*using (Html.BeginForm("AddPurDtls", "Purchase",FormMethod.Post))*@
        @using (Ajax.BeginForm("AddPurDtlsType3", "Purchase", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divPurDtlsList", OnSuccess = "OnSuccess" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.PRid, new { @Value = ViewBag.PrMstId })
            @Html.HiddenFor(model => model.PRNo, new { @Value = ViewBag.PrNo })
            @Html.HiddenFor(model => model.TypePRId, new { @Value = ViewBag.PRTypeId })


            <div class="card-body">
                <div class="row">
                    <!--first column-->
                    <div class="col-md-4">


                        <div class="form-group">
                            <label class="control-label col-md-10">Domi. Part No.</label>
                            <div class="col-md-10">
                                <select class="fstdropdown-select form-control-border" id="DomiPartNo" name="DomiPartNo" onchange="domiChange(this.value)">
                                    <option value="">Select option</option>
                                    @foreach (var domi in ViewBag.domipartlist)
                                    {
                                        <option value="@domi.ITEMNO">@domi.ITEMNO</option>
                                    }
                                </select>
                                @Html.ValidationMessageFor(model => model.DomiPartNo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div id="divDesc">
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-10">Vendor Part No.</label>
                            <div class="col-md-10">
                                <div id="divVendorPartNo">
                                    @Html.EditorFor(model => model.VendorPartNo, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.VendorPartNo, "", new { @class = "text-danger" })
                            </div>
                        </div>



                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Qty, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="text" id="Qty" name="Qty" class="form-control" placeholder="0.00" value="" />
                                @*@Html.EditorFor(model => model.Qty, new { htmlAttributes = new { @class = "form-control" } })*@
                                @Html.ValidationMessageFor(model => model.Qty, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-10">UOM</label>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="divUOM">
                                            @Html.DropDownList("UOMName",
                                           new SelectList(ViewBag.UOMList, "UNIT", "UNIT"),
                                           "Please Select the UOM",
                                           new { @class = "custom-select form-control-border" })
                                        </div>
                                    </div>

                                </div>

                                @Html.ValidationMessageFor(model => model.UOMId, "", new { @class = "text-danger" })
                            </div>
                        </div>



                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-10">Req. Delivery Date</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ReqDevDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ReqDevDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                            </div>
                        </div>


                    </div>
                </div>

            </div>
            <div class="card-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-centered">
                            <input type="submit" id="btnSubmit" name="Submit" value="Add PR Details" class="btn btn-primary btn-lg" />
                        </div>
                    </div>

                </div>

            </div>
        }
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <div id="divPurDtlsList">
            @{Html.RenderAction("PurDtlsList", "Purchase", new { PrMstId = ViewBag.PrMstId });}
        </div>
    </div>
</div>

<!-- Modal Add UOM -->
<div class="modal fade" id="addUOM" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            @*{Html.RenderAction("AddUOM", "Purchase");}*@
            <div class="modal-header">
                <h5 class="modal-title">Add UOM</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("AddUOM", "Purchase", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.UOM_mst.UOMName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UOM_mst.UOMName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UOM_mst.UOMName, "", new { @class = "text-danger" })

                            <input type="hidden" id="PrMstId" name="PrMstId" value="@ViewBag.PrMstId" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <div class="form-group">
                        <input type="submit" name="AddUOM" value="Add" class="btn btn-primary" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    $(function () {
        $('input#Qty').blur(function () {
            var textAmt = (this.value).replace(/,/g, "");
            var amt = parseFloat(this.value);
            $(this).val(amt.toFixed(2));
        });
    });
</script>



<div class="container">
    <div class="row">
        <div class="col-centered">
            @Html.ActionLink("Return To Main PR", "PurRequest", "Purchase", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>


<script>
    function OnSuccess() {
        this.reset();
    }

    function domiChange(itemno) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("callVendorpart","Purchase")",
            data: '{itemno: "' + itemno + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                $('#divVendorPartNo').html(response);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });

        $.ajax({
            type: "POST",
            url: "@Url.Action("callUOM","Purchase")",
            data: '{itemno: "' + itemno + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                $('#divUOM').html(response);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });

        $.ajax({
            type: "POST",
            url: "@Url.Action("callDesc","Purchase")",
            data: '{itemno: "' + itemno + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                $('#divDesc').html(response);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    };
</script>