
<div class="row">
    <div class="col-md-4">
        @ViewBag.vdCode
        <input type="hidden" name="VdCurCode"  id="VdCurCode" value="@ViewBag.vdCode" />
    </div>
    <div class="col-md-8">
        <input type="text" id="curRate" name="CurRate" class="form-control" value="@ViewBag.ExchRate" onfocusout="chgCurRate(this.value, @ViewBag.PrDtlstId, @ViewBag.Qty)" curRate="@ViewBag.PrDtlstId"  />
    </div>
</div>


