@model List<PurchaseWeb_2.ModelData.MonthlyBudget>

<div class="row">
    <div class="col-5">
        @using (Ajax.BeginForm("saveMonthlyBudgetLst", "Purchase", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divMonthlyBudgetLst" }))
        {
            <div id="notification">
                @Html.Partial("_Notifications")
            </div>
            <table class="table table-sm">
                <tr>
                    <th>
                        No
                    </th>
                    <th>
                        Department
                    </th>
                    <th>
                        Budget Amount (RM)
                    </th>
                    <th>
                        Current Balance (RM)
                    </th>
                </tr>
                @{ int j = 0;}
                @for (int i = 0; i < Model.Count(); i++)
                {
                    j = i + 1;
                    <tr>
                        <td>
                            @j
                            @Html.HiddenFor(model => Model[i].BudgetId)
                        </td>
                        <td>
                            @Html.DisplayFor(model => Model[i].AccTypeDept.DeptName)
                        </td>
                        <td>
                            @Html.EditorFor(model => Model[i].Budget, new { htmlAttributes = new { @class = "form-control", @Value = Model[i].Budget, @no = i, @id = "Budget(" + i + ")", @onkeyup = "BudgetUpdate(" + i + ",this.value)" } })
                        </td>
                        <td>
                            @Html.EditorFor(model => Model[i].Balance, new { htmlAttributes = new { @class = "form-control", @Value = Model[i].Balance, @no = i, @id = "Balance_"+i  } })
                        </td>
                    </tr>

                }

            </table>
            <div class="row">
                <div class="col-centered">
                    <button class="btn btn-success" type="submit" value="save" name="submit">Save</button>
                </div>
            </div>
            
            <input type="hidden" id="sMonth" name="sMonth" value="@ViewBag.sMonth" />
            <input type="hidden" id="sYear" name="sYear" value="@ViewBag.sYear" />
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#notification").delay(2000).fadeOut("slow");
    });

    function BudgetUpdate(i,budget) {
        console.log(i);
        console.log(budget);
        //console.log($("#Balance_0").val());
        //var bal = $("#Balance_0").val()
        $("#Balance_" + i).val(budget);
    }
</script>
