@model IEnumerable<PurchaseWeb_2.ModelData.PR_Mst>

@{
    ViewBag.Title = "HODPurApprovalList";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<h1>HOD Purchasing Approval</h1>
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">List of PR for HOD Puchasing Department Approval</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="body">
        @ViewBag.Message

        @if (ViewBag.Message != null)
        {
            if ((ViewBag.Message).Contains("Approved"))
            {
                <div class="alert alert-success alert-dismissible" id="divAlert">
                    @ViewBag.Message
                </div>
            }
            else
            {
                <div class="alert alert-danger alert-dismissible" id="divAlert">
                    @ViewBag.Message
                </div>
            }

        }
        <table class="table table-sm ">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PRNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RequestDate)
                </th>
                <th>
                    Department
                </th>
                <th>
                    Requestor
                </th>
                <th>
                    Purchaser
                </th>
                <th>
                    PR Type
                </th>
                <th>
                    Grand Amount
                </th>
                <th>
                    Grand Amount (MYR)
                </th>
                <th>
                    PR Status
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PRNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccTypeDept.DeptName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usr_mst.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PurchaserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PRType_mst.Name)
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-md-4">
                                @*foreach (var currency in item.PR_Details.OrderBy(o => o.CurrId).GroupBy(x => x.CurrId))
                                {
                                    @currency.Max(s => s.Currency_Mst1.Kod) <br />
                                }*@
                                @foreach (var currency in item.PR_Details.OrderBy(o => o.CurCode).GroupBy(x => x.CurCode))
                                {
                                    @currency.Max(s => s.CurCode) <br />
                                }
                            </div>
                            <div class="col-md-8">
                                @*foreach (var currency in item.PR_Details.OrderBy(o => o.CurrId).GroupBy(x => x.CurrId))
                                {
                                    @currency.Sum(s => s.TotCostWitTax) <br />
                                }*@
                                @foreach (var currency in item.PR_Details.OrderBy(o => o.CurCode).GroupBy(x => x.CurCode))
                                {
                                    @*currency.Sum(s => s.TotCostWitTax) *@
                                String strTotAmt = String.Format("{0:n2}", currency.Sum(s => s.TotCostWitTax));
                                    @strTotAmt
                                    <br />
                                }
                            </div>
                        </div>
                    </td>
                    <td>
                        @{String sTotCostWitTaxMYR = String.Format("{0:n2}", item.PR_Details.Sum(s => s.TotCostWitTaxMYR)); }
                        @sTotCostWitTaxMYR
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status_Mst.Name)
                    </td>
                    <td>
                        @Html.ActionLink("View", "PrHODPuchasingView", "Purchase", new { PrMstId = item.PRId }, new { @class = "btn btn-info" })
                        @Html.ActionLink("Approve", "ApproveHODPurchasingDept", "Purchase", new { PrMstId = item.PRId }, new { @class = "btn btn-success" })
                        @*
                        @Html.ActionLink("Reject", "RejectHODPurchasingDept", "Purchase", new { PrMstId = item.PRId }, new { @class = "btn btn-danger" })
                        *@
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#divAlert").delay(3000).fadeOut("slow");
    });
</script>
