@model PurchaseWeb_2.ModelData.PR_Mst

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    tr {
        text-align: center;
    }



    tbody {
        font-size: 15px;
    }
</style>

<table style="width:100%">
    <thead>
        <tr>
            <th colspan="7">
                <a style="color:blue;font-size:30px">DOMINANT</a> <a style="color:red;font-size:30px">Opto Technologies</a> Sdn. Bhd.
            </th>
            <th colspan="6">
                PURCHASE REQUISITION (NON-STOCKABLE ITEM)
            </th>
            <th colspan="1">
                No:  @Model.PRNo
            </th>
        </tr>
        <tr>
            <th colspan="7">
                &nbsp;
            </th>
            <th colspan="3">
                *Requisition Date
            </th>
            <th colspan="3">
                *A/C Code
            </th>
            <th colspan="1">
                *Asset No.
            </th>
        </tr>
        <tr>
            <th colspan="7">
                Company No: 533108-P
            </th>
            <th colspan="3">
                @Model.RequestDate

            </th>
            <th colspan="3">
                @if (Model.PrGroupType1.CPRFFlag == true)
                {
                    <a>@Model.CPRF</a>
                }
                else
                {
                    <a>@Model.AccountCode</a>
                }
            </th>
            <th colspan="1">
                @Model.AssetNo
            </th>
        </tr>
        <tr>
            <th colspan="7">
                Lot 6, Batu Berendam, FTZ, Phase III, 75350 Melaka, Malaysia.
            </th>
            <th colspan="7">
                &nbsp;
            </th>
        </tr>
        <tr>
            <th colspan="7">
                Tel: 06-2833566, Fax: 06-2830566
            </th>
            <th colspan="3">
                *Requestor Name
            </th>
            <th colspan="3">
                *Dept/Area/Process
            </th>
            <th colspan="1">
                * Tel Ext
            </th>
        </tr>
        <tr>
            <th colspan="7">
                &nbsp;
            </th>
            <th colspan="3">
                @Model.Usr_mst.Username
            </th>
            <th colspan="3">
                @Model.AccTypeDept.DeptName
            </th>
            <th colspan="1">
                @Model.Usr_mst.TelExt
            </th>
        </tr>
        <tr>
            <th colspan="7">
                &nbsp;
            </th>
            <th colspan="7">
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="2">
                *Item
            </td>
            <td rowspan="2">
                *Description
            </td>
            <td rowspan="2">
                *Part Number <br /> (if available)
            </td>
            <td rowspan="2">
                *Qty
            </td>
            <td rowspan="2">
                *U/M
            </td>
            <td rowspan="2">
                * ETD
            </td>
            <td rowspan="2">
                *Estimated Unit Price
            </td>
            <td colspan="7">
                For Purchasing use only
            </td>
        </tr>
        <tr>
            <td>
                Currency
            </td>
            <td>
                Actual <br />Unit Price
            </td>
            <td>
                Total Cost <br />
                (exclusive SST)
            </td>
            <td>
                SST %
            </td>
            <td>
                Total Cost <br />
                (inclusive SST)
            </td>
            <td>
                Tax Group
            </td>
            <td>
                Tax Class
            </td>
            <!--td style="display:none">
            PO No.
        </td>
        -->
        </tr>

        @{ int i = 0;}
        @foreach (var item in Model.PR_Details)
        {
            i = i + 1;
            <tr>
                <td>@i</td>
                <td>@item.Description</td>
                <td>@item.VendorPartNo</td>
                <td>@item.Qty</td>
                <td>@item.UOMName</td>
                <td>@item.ReqDevDate</td>
                <td>@item.EstimateUnitPrice</td>
                <td>@item.CurCode</td>
                <td>@item.UnitPrice</td>
                <td>@item.TotCostnoTax</td>
                <td>@item.Tax</td>
                <td>@item.TotCostWitTax</td>
                <td>@item.TaxCode</td>
                <td>@item.TaxClass</td>
                <!--<td style="display:none">@item.LastPONo</td>-->
            </tr>
        }

        @if (Model.Discount > 0)
        {
            i = i + 1;
            <tr>
                <td>@i</td>
                <td>Discount</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>- @Model.Discount</td>
                <td>- @Model.Discount</td>
                <td>&nbsp;</td>
                <td>- @Model.Discount</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                
            </tr>
        }

        <tr>
            <td colspan="7" style="text-align:right">
                <b>Grand Total</b>
            </td>
            <td colspan="2">
                &nbsp;
            </td>
            <td>
                @{ var intGtotalnTax = Model.PR_Details.Sum(x => x.TotCostnoTax);
                    intGtotalnTax = intGtotalnTax - Model.Discount;
                }
                @if (Model.Discount > 0)
                {

                    <b>@intGtotalnTax</b>
                }
                else
                {
                    <b>@Model.PR_Details.Sum(x => x.TotCostnoTax)</b>
                }
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                @{ var intGtotalTax = Model.PR_Details.Sum(x => x.TotCostWitTax);
                    intGtotalTax = intGtotalTax - Model.Discount;
                }
                @if (Model.Discount > 0)
                {

                    <b>@intGtotalTax</b>
                }
                else
                {
                    <b>@Model.PR_Details.Sum(x => x.TotCostWitTax)</b>
                }

            </td>
        </tr>

    </tbody>
</table>

<table style="width:100%">
    <tr>
        <td>
            &nbsp;
        </td>
        <td colspan="2">
            Approval signature
        </td>
        <td colspan="6">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            Requestor <br /> signature
        </td>
        <td>
            Department Head
        </td>
        <td>
            Managing Director
        </td>
        <td>
            *Purpose/Function:
        </td>
        <td>
            *Remarks:
        </td>
        <td>
            *For Asset Purchase only
        </td>
        <td colspan="3">
            (For Purchasing use only)
        </td>
    </tr>
    <tr>
        <td>
            @Model.Usr_mst.Username
        </td>
        <td>
            @Model.HODApprovalBy
        </td>
        <td>
            @Model.MDApprovalBy
        </td>
        <td rowspan="3">
            @Model.Purpose
        </td>
        <td rowspan="3">
            @Model.Remarks
        </td>
        <td rowspan="3" style="text-align:left">
            @{ if (Model.PrGroupType1.CPRFFlag == true)
                {
                    <a style="color:red">CAPEX</a> <br />
                    if (Model.AssetFlag == 0)
                    {
                        <a>New Asset</a>
                    }
                    else
                    {
                        <a>Improve or add on <br /> Existing Asset </a>
                    }
                    <br />
                    <a>Asset No :</a> @Model.AssetNo

                }

            }

        </td>
        <td rowspan="3" style="text-align:left">
            @{ if (Model.PrGroupType1.CPRFFlag == true && Model.FlagUpdatedCPRF == true)
                {
                    <u>Asset</u><br />
                    <a>Budget: @ViewBag.CprfBudget</a> <br />
                    <a>O / B : @ViewBag.CprfBalance</a> <br />
                    <a>Currency Exchange Rate:</a>
                }
                else
                {
                    <u>Asset</u><br />
                    <a>Budget: -</a> <br />
                    <a>O / B : -</a> <br />
                    <a>Currency Exchange Rate:</a>
                }
            }

        </td>
        <td rowspan="3" style="text-align:left">
            @{ if (Model.FlagUpdateMonthlyBudget == true)
                {
                    <u>Monthly Budget</u><br />
                    <a>Dept:</a> @Model.AccTypeDept.DeptName <br />
                    <a>Month :</a>
                    DateTime dReqDate = Model.RequestDate ?? (DateTime)Model.CreateDate;
                    string MonthName = dReqDate.ToString("MMMM");
                    string Year = dReqDate.ToString("yyyy");

                    @MonthName @Year<br />
                    <a>Budget: RM</a> @ViewBag.Budget <br />
                    <a>O/B : RM</a>@ViewBag.Balance
                }
                else
                {
                    <u>Monthly Budget</u><br />
                    <a>Dept: -</a> <br />
                    <a>Month : -</a><br />
                    <a>Budget: RM -</a> <br />
                    <a>O/B : RM -</a>
                }
            }


        </td>
        <td rowspan="3" style="text-align:left">
            <u>Sourcing Approval</u> <br />
            @Model.SourcingName<br />
            @Model.SendHODPurDate<br /><br />

            <u>Purchasing HOD Approval</u> <br />
            @Model.HODPurDeptApprovalBy <br />
            @Model.HODPurDeptApprovalDate
        </td>
    </tr>
    <tr>
        <td>
            @Model.CreateDate
        </td>
        <td>
            @Model.HODApprovalDate
        </td>
        <td>
            @Model.MDApprovalDate
        </td>
    </tr>
</table>

<br />
<br />


@{Html.RenderAction("VendorView", "Purchase", new { PrMstId = Model.PRId });}



<br />
<br />


@{Html.RenderAction("VendorComparisonReport", "Purchase", new { PrMstId = Model.PRId });}


