@model List<PurchaseWeb_2.Models.PRDtlsPurchaser>


<div class="card card-primary">
    <div class="card-header">
        <div class="card-title container-fluid">
            <div class="row">
                <div class="col-10">
                    <h4>PR Details List</h4>
                </div>

            </div>
        </div>
    </div>


    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-responsive table-head-fixed table-hover" style="width:100%; zoom:95%">
                    <thead>
                        <tr>
                            <th>

                            </th>
                            <th>
                                Vendor Name
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Part No
                            </th>
                            <th>
                                Qty
                            </th>
                            <th>
                                UOM
                            </th>
                            <th>
                                Required <br /> Delivery <br /> Date
                            </th>
                            <th>
                                Currency
                            </th>
                            <th>
                                Estimated <br /> Unit Price
                            </th>

                            <th>
                                Last Price
                            </th>

                            <th>
                                Last Quote Date
                            </th>

                            <th>
                                Last Po Date
                            </th>

                            <th>
                                Last Po No
                            </th>

                            <th>
                                Actual Unit Price
                            </th>
                            <th>
                                Total Cost (Exc Tax)
                            </th>
                            <th>
                                Tax %
                            </th>
                            <th>
                                Total Amount <br /> (Inc Tax)
                            </th>
                            <th>
                                Tax <br /> Group
                            </th>
                            <th>
                                Tax <br /> Class
                            </th>

                            <th style="display:none"></th>
                        </tr>
                    </thead>

                    <tbody>
                        @{ int i = 0; }
                        @foreach (var item in Model)
                        {
                            i++;
                            ViewBag.PrId = item.PRid;

                            <tr data-widget="expandable-table" aria-expanded="true">
                                <td>
                                    @i
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VendorName)
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.Description)*@
                                    @Html.Raw(item.Description.Replace(Environment.NewLine, "<br/>"))
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VendorPartNo)
                                </td>
                                <td>
                                    @{
                                        String strQty = String.Format("{0:n}", item.Qty);
                                    }
                                    @strQty

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UOMName)
                                </td>
                                <td>
                                    @{
                                        DateTime reqdate = (DateTime)item.ReqDevDate;
                                        String strReqdate = reqdate.ToString("dd/MM/yyyy");
                                    }
                                    @strReqdate
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CurCode)
                                </td>
                                <td>
                                    @{
                                        String strEstimateUnitPrice = String.Format("{0:n5}", item.EstimateUnitPrice);
                                    }
                                    @strEstimateUnitPrice

                                </td>

                                <td>
                                    @{
                                        String strLastPrice = String.Format("{0:n5}", item.LastPrice);
                                    }
                                    @strLastPrice
                                </td>

                                <td>
                                    @{
                                        String strLastQuoteDate = "";
                                        if (item.LastQuoteDate != null)
                                        {
                                            DateTime LastQuoteDate = (DateTime)item.LastQuoteDate;
                                            strLastQuoteDate = LastQuoteDate.ToString("dd/MM/yyyy");
                                        }
                                    }
                                    @strLastQuoteDate
                                </td>

                                <td>
                                    @{
                                        String strPODate = "";
                                        if (item.PODate != null)
                                        {
                                            DateTime PODate = (DateTime)item.PODate;
                                            strPODate = PODate.ToString("dd/MM/yyyy");
                                        }
                                    }
                                    @strPODate
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.LastPONo)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.UnitPrice)
                                </td>
                                <td>
                                    @{
                                        String strTotCostnoTax = String.Format("{0:n2}", item.TotCostnoTax);
                                    }
                                    @strTotCostnoTax

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tax)
                                </td>
                                <td>
                                    @{
                                        String strTotCostWitTax = String.Format("{0:n2}", item.TotCostWitTax);
                                    }
                                    @strTotCostWitTax

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TaxCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TaxClass)
                                </td>
                                <td style="display:none">
                                    <button type="button" class="btn btn-default" id="UpdatePrDtls" data-toggle="modal" data-target="#modalUpdatePrDtls" data-assigned-id="@item.PRDtId" value="@item.PRDtId" onclick="UpdatePrDtls(@item.PRDtId)">
                                        <i class="fa fa-pen"></i>
                                    </button>

                                </td>
                            </tr>

                            <tr class="expandable-body">
                                <td colspan="20">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="divVendorComparison_@item.PRDtId">
                                                @{ Html.RenderAction("VendorComparison", "Purchase", new { PrDtlstId = item.PRDtId });}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="divVDCompareLst_@item.PRDtId">
                                                @{ Html.RenderAction("VendorComparisonList", "Purchase", new { PrDtlstId = item.PRDtId, no = i });}
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>


                </table>
            </div>
        </div>

    </div>
    <div class="card card-footer">
        <div class="container">
            <div class="row">
                <div class="col-centered">
                    @Html.ActionLink("Return To Main List", "PRProsesList", "Purchase", new { @class = "btn btn-primary" })
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#rejectPR">
                        Reject PR to Purchasing
                    </button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#rejectPRUser">
                        Reject PR to User
                    </button>
                    @Html.ActionLink("Budget", "budgetUpdate", "Purchase", new { PrMstId = ViewBag.PrId }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Send To HOD", "PurHODApproval", "Purchase", new { PrMstId = ViewBag.PrId, url= "PRDtlsListForPurchaserType4" }, new { @class = "btn btn-success" })
                </div>
            </div>
        </div>


    </div>



</div>

<!--Modal to reject-->
<div class="modal fade" id="rejectPR" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reject PR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @{Html.RenderAction("RejectPRbySourcingForm", "Purchase", new { PrMstId = ViewBag.PrId });}

        </div>
    </div>
</div>


<!--Modal to reject user-->
<div class="modal fade" id="rejectPRUser" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reject PR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @{Html.RenderAction("RejectPRPurchasingForm", "Purchase", new { PrMstId = ViewBag.PrId });}

        </div>
    </div>
</div>