
@{
    ViewBag.Title = "PrHODPuchasingView";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="invoice p-3 mb-3">
    <div class="row">
        <div class="col-md-12">
            @{ Html.RenderAction("PurMstViewSelected", "Purchase", new { PrMstId = ViewBag.PrMstId });}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @{ Html.RenderAction("PurDetailsPurchasingViewSelected", "Purchase", new { PrMstId = ViewBag.PrMstId });}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @if (ViewBag.StatusId == 8 && (ViewBag.PstId == 5 || ViewBag.PstId == 7 ) )
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Comments</label>
                            <textarea class="form-control" rows="3" placeholder="Enter ..." id="comment" name="comment"></textarea>
                        </div>
                    </div>
                </div>
                <div class="error invalid-feedback" style="display:none" id="commentValid">
                    <span>Please enter your comment for reject PR.</span>
                </div>
                <br />
                <div class="row-cols-md-12">
                    <button type="submit" class="btn btn-danger" id="HODReject" name="HODReject">Reject</button>
                    <input type="hidden" id="PrmstIdHod" name="PrmstIdHod" value="@ViewBag.PrMstId" />
                </div>


            }

        </div>
    </div>
    <hr />
    <div>
        @if (ViewBag.StatusId == 8 && (ViewBag.PstId == 5 || ViewBag.PstId == 7) )
        {
            @Html.ActionLink("Return To Main PR", "HODPurApprovalList", "Purchase", null, new { @class = "btn btn-primary" })
        }
        else if (ViewBag.StatusId == 3 && (ViewBag.PstId == 2 || ViewBag.PstId == 7))
        {
            @Html.ActionLink("Return To Main PR", "ApprovalHOD", "Purchase", null, new { @class = "btn btn-primary" })
        }
        else if (ViewBag.StatusId == 5 && (ViewBag.PstId == 3 || ViewBag.PstId == 7))
        {
            @Html.ActionLink("Return To Main PR", "MDApprovalList", "Purchase", null, new { @class = "btn btn-primary" })
        }
        else
        {
            @Html.ActionLink("Return To Main PR", "PurRequest", "Purchase", null, new { @class = "btn btn-primary" })
        }

    </div>
</div>

<script>
    $(document).ready(function () {
        $("#HODReject").click(function (event) {
            event.preventDefault();
            var coms = $("#comment").val();
            //alert(coms.length);
            //return false;
            if (coms.length < 1) {
                $("#commentValid").toggle();
                $("#commentValid").delay(2000).fadeOut("slow");
                return false;
            } else {
                console.log($("#comment").val());
                location.href = "@Url.Action("RejectHODPurchasingDept", "Purchase")?PrMstId=@ViewBag.PrMstId&comment="+coms+"" ;
            }

        });
    });
</script>
