@model IEnumerable<PurchaseWeb_2.ModelData.PR_Mst>

<div class="card card-info">
    <div class="card-header" ">
        <div class="card-title ">
            <h6>Purchase Request List</h6>


        </div>
        <div class="card-tools ">
            <div class="input-group input-group-sm " style="width: 150px;">
                <input type="text" name="search" id="search" class="form-control  float-right" placeholder="Search">

                <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-responsive table-head-fixed table-sm table-striped" style="width:100%" id="tableA">
            <tr>
                <th>
                    PRNo
                </th>
                <th>
                    Requisition Date
                </th>
                <th>
                    Department
                </th>
                <th>
                    Requestor
                </th>
                <th>
                    PR Type
                </th>
                <th>
                    PR Group
                </th>
                <th>
                    Est. Tot. Amount
                </th>
                <th>
                    PR Tot. Amount
                </th>
                <th>
                    PR Status
                </th>
                <th></th>
            </tr>
            @{ String status = "false";
                String showFlag = "d-none";
            }
            @foreach (var item in Model)
            {
                if (item.StatId == 11 || item.StatId == 15) { status = "true"; showFlag = ""; } else { status = "false"; showFlag = "d-none"; }
                <tr data-widget="expandable-table" aria-expanded="@status">
                    <td>
                        @Html.DisplayFor(modelItem => item.PRNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccTypeDept.DeptName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usr_mst.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PRType_mst.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrGroupType1.GroupName)
                    </td>
                    
                    <td style="width:200px">
                        <div class="row">
                            <div class="col-md-4">
                                @foreach (var currency in item.PR_Details.OrderBy(o => o.EstCurCode).GroupBy(x => x.EstCurCode))
                                {
                                    @currency.Max(s => s.EstCurCode) <br />
                                }
                            </div>
                            <div class="col-md-8">

                                @foreach (var currency in item.PR_Details.OrderBy(o => o.EstCurCode).GroupBy(x => x.EstCurCode))
                                {
                                    @*currency.Sum(s => s.TotCostWitTax) *@
                                    String strTotAmt = String.Format("{0:n2}", currency.Sum(s => s.EstTotalPrice));
                                    @strTotAmt
                                    <br />
                                }
                            </div>
                        </div>
                    </td>

                    

                    <td style="width:200px">
                        <div class="row">
                            <div class="col-md-4">
                                @foreach (var currency in item.PR_Details.OrderBy(o => o.CurCode).GroupBy(x => x.CurCode))
                                {
                                    @currency.Max(s => s.CurCode) <br />
                                }
                            </div>
                            <div class="col-md-8">

                                @foreach (var currency in item.PR_Details.OrderBy(o => o.CurCode).GroupBy(x => x.CurCode))
                                {
                                    @*currency.Sum(s => s.TotCostWitTax) *@
                                    String strTotAmt = String.Format("{0:n2}", currency.Sum(s => s.TotCostWitTax));
                                    @strTotAmt
                                    <br />
                                }
                            </div>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status_Mst.Name)
                    </td>
                    <td>

                        @if (item.PRTypeId == 4)
                        {
                            <table>
                                <tr>
                                    <td>
                                        @Html.ActionLink("Details", "PRDtlsPurchasingProses", "Purchase", new { PrMstId = item.PRId }, new { @class = "btn btn-info" })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Send To Sourcing", "PRProcessing", "Purchase", new { PrMstId = item.PRId }, new { @class = "btn btn-success" })
                                    </td>
                                </tr>
                            </table>
                            
                            
                            <a>&nbsp;</a>
                            //@Html.ActionLink("Budget", "budgetUpdate", "Purchase", new { PrMstId = item.PRId }, new { @class = "btn btn-warning" })
                            
                        }
                        else
                        {
                            <table>
                                <tr>
                                    <td>
                                        @Html.ActionLink("Details", "PRDtlsPurchasingProsesStockable", "Purchase", new { PrMstId = item.PRId }, new { @class = "btn btn-info" })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Send To HOD Purchasing", "PurHODApproval", "Purchase", new { PrMstId = item.PRId }, new { @class = "btn btn-success" })
                                    </td>
                                </tr>
                            </table>
                            
                            
                            <a>&nbsp;</a>
                            
                            //@Html.ActionLink("Send To Sourcing", "SendToPoProses", "Purchase", new { PrMstId = item.PRId }, new { @class = "btn btn-success" })
                        }



                    </td>
                </tr>
                <tr class="expandable-body @showFlag ">
                    <td colspan="12">
                        @if (item.StatId == 11)
                        {
                            <p style="color:indianred; padding-left:2em">@item.HODPurComment </p>
                        }
                        @if (item.StatId == 15)
                        {
                            <p style="color:indianred; padding-left:2em">@item.SourcingComment </p>
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        var $rows = $('#tableA tr');
        $('#search').keyup(function () {
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

            $rows.show().filter(function () {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });
    });

</script>