@model IEnumerable<PurchaseWeb_2.ModelData.PR_Mst>

<div class="card card-primary">
    <div class="card-body  p-0" >
        <div class="row">
            <div class="col-md-12">
                <table class="table table-head-fixed text-nowrap table-striped table-responsive table-sm">
                    <tr>
                        <th>
                            PR No
                        </th>
                        <th>
                            Requestor
                        </th>
                        <th>
                            Department
                        </th>
                        <th>
                            Team
                        </th>
                        <th>
                            Requisition Date
                        </th>
                        <th>
                            PR Type
                        </th>
                        <th>
                            PR Group
                        </th>
                        <th>
                            PR Status
                        </th>
                        <th>
                            Items
                        </th>

                        <th></th>
                    </tr>
                @{ String status = "false" ;
                   String showFlag = "d-none";
                    }
                @foreach (var item in Model)
                {
                    if (item.StatId == 2 || item.StatId == 13 ) { status = "true"; showFlag = ""; } else { status = "false"; showFlag = "d-none"; }
                    <tr data-widget="expandable-table"   aria-expanded = "@status"  >
                        <td>
                            @Html.DisplayFor(modelItem => item.PRNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Usr_mst.Username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccTypeDept.DeptName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TeamId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RequestDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PRType_mst.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrGroupType1.GroupName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status_Mst.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.PR_Details.Count)
                        </td>

                        @if (item.StatId != 1 && item.StatId != 2 && item.StatId != 13)
                        {
                            <td>
                                @Html.ActionLink("View", "PrView", "Purchase", new { PrMstId = item.PRId }, new { @class = "btn btn-info" })
                                @if (Convert.ToString(Session["Username"]) == "mohd.qatadah")
                                {
                                    @Html.ActionLink("Send Email HOD", "EmailHOD", "Purchase", new { PrMstId = item.PRId }, new { @class = "btn btn-warning" })
                                }
                                
                            </td>
                        }
                        else
                        {
                    <td>
                        @switch (item.PRTypeId)
                        {
                            case 1:
                                <!--<button class="btn btn-primary" onclick="location.href = '/Purchase/AddPurDtls?PrMstId=@item.PRId' ;">Add Details</button>-->
                                <a class="btn btn-primary" href="@Url.Action("AddPurDtls","Purchase", new {PrMstId = item.PRId})">Add Details</a>
                                break;

                            case 2:
                                <a class="btn btn-primary" href="@Url.Action("AddPurDtlsType2","Purchase", new {PrMstId = item.PRId})">Add Details</a>

                                break;

                            case 3:
                                <a class="btn btn-primary" href="@Url.Action("AddPurDtlsType3","Purchase", new {PrMstId = item.PRId})">Add Details</a>

                                break;

                            case 4:
                                <a class="btn btn-primary" href="@Url.Action("AddPurDtlsType4","Purchase", new {PrMstId = item.PRId , PrGroup = item.PRGroupType})">Add Details</a>

                                break;
                            case 5:
                                <a class="btn btn-primary" href="@Url.Action("AddPurDtlsType3","Purchase", new {PrMstId = item.PRId})">Add Details</a>

                                break;


                        }

                        @Html.ActionLink("Send", "PRhod", "Purchase", new { PrMstId = item.PRId }, new { @class = "btn btn-success" })

                        @Html.ActionLink("Delete", "DelPRMst", "Purchase", new { PrMstId = item.PRId }, new { @class = "btn btn-danger", onclick = "return confirm('Are you sure you wish to delete this PR?');" })

                        @Html.ActionLink("View", "PrView", "Purchase", new { PrMstId = item.PRId }, new { @class = "btn btn-info" })

                        @if (Convert.ToString(Session["Username"]) == "mohd.qatadah")
                        {
                            @Html.ActionLink("Send Email HOD", "EmailHOD", "Purchase", new { PrMstId = item.PRId }, new { @class = "btn btn-warning" })
                        }



                    </td>
                        }

                    </tr>
                    
                    <tr class="expandable-body @showFlag " >
                        <td colspan="10">
                            <p style="color:indianred; padding-left:2em">
                            @if (item.StatId == 2)
                            { @item.HODComment }
                            else if (item.StatId == 13)
                            { if (@item.PurchasingComment != null ) { @item.PurchasingComment }
                              if (@item.RejectCommentClerktoUser != null) { @item.RejectCommentClerktoUser }
                            }</p>
                        </td>
                    </tr>
                }

                </table>
            </div>
        </div>
    </div>
</div>


