<div id="divPurChaseMasterSelected">

    @model PurchaseWeb_2.ModelData.PR_Mst

    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">PURCHASE REQUISITION</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div id="notification">
                @Html.Partial("_Notifications")
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        @if (Model.PRTypeId != 4)
                        {
                            <div class="col-md-4">
                                <!--PR no-->
                                <strong>PR No :</strong> @Html.DisplayFor(model => model.PRNo)
                            </div>
                            <div class="col-md-4">
                                <!--PR type-->
                                <strong>PR Type :</strong>@Html.DisplayFor(model => model.PRType_mst.Name)
                            </div>
                            <div class="col-md-4">
                                <!--PR type-->
                                <strong>PR Group Type :</strong>@Html.DisplayFor(model => model.PrGroupType1.GroupName)
                            </div>
                        }
                        else
                        {
                            <div class="col-md-4">
                                <!--PR no-->
                                <strong>PR No :</strong> @Html.DisplayFor(model => model.PRNo)
                            </div>
                            <div class="col-md-4">
                                <!--PR type-->
                                <strong>PR Type :</strong>@Html.DisplayFor(model => model.PRType_mst.Name)
                            </div>
                            if (ViewBag.CPRFFlag == false)
                            {
                                <div class="col-md-4">
                                    <!--PR Account-->
                                    <strong>Account Code :</strong>@Html.DisplayFor(model => model.AccountCode) <br />
                                    
                                    @if (ViewBag.chkBudgetBal == "99.00")
                                    {
                                        <span>Budget Balance : No Budget </span>
                                    } else
                                    {
                                        var bal = decimal.Parse(ViewBag.chkBudgetBal);
                                        if (bal <= 0.00M )
                                        {
                                            <strong style="color:red"><span>Budget Balance : RM @ViewBag.chkBudgetBal</span></strong>
                                            @*<i class="fa fa-2x fa-sticky-note float-right" data-toggle="tooltip" data-placement="left" title="Budget History List"></i>*@
                                        }
                                        else
                                        {
                                            <span>Budget Balance : RM @ViewBag.chkBudgetBal</span>
                                            @*<i class="fa fa-2x fa-sticky-note float-right" data-toggle="tooltip" data-placement="left" title="Budget History List"></i>*@
                                        }
                                        <a data-toggle="tooltip" data-placement="left" title="Budget History List" onclick="ShowPRBudgetList(@Model.PRId)">
                                            <i class="fa fa-2x fa-comment-dots float-right " style="color:cadetblue"></i>
                                        </a>
                                        
                                        
                                    }

                                    <br />
                                    @if (ViewBag.chkSkipFlag)
                                    {
                                        <strong>Budget Skip :</strong>
                                        <select class="form-select" onchange="BudgetSkipChange(@Model.PRId);" id="budgetSkip" name="budgetSkip">
                                            @if (ViewBag.BudgetSkipFlag)
                                            {
                                                <option value="true" selected>Yes</option>
                                                <option value="false">No</option>
                                            }
                                            else
                                            {
                                                <option value="true" >Yes</option>
                                                <option value="false" selected>No</option>
                                            }
                                        </select>
                                    } 
                                    
                                    
                                    
                                </div>
                            }
                            if (ViewBag.CPRFFlag == true)
                            {
                                <div class="col-md-4">
                                    <!--PR Account-->
                                    <strong>CPRF Code :</strong>@Html.DisplayFor(model => model.CPRF)
                                </div>
                            }

                        }

                        @{ ViewBag.PrMStId = (int)Model.PRId;}

                    </div>

                    @if (ViewBag.CPRFFlag == false)
                    {
                        <br />
                        <div class="row">
                            <div class="col-3">
                                @if (Model.VendorItemNo != "" || Model.VendorItemNo != null )
                                {
                                    <b>This is Asset Capitalize : @Model.VendorItemNo</b>
                                }
                                else
                                {
                                    <b>This is not Asset</b>
                                }
                            </div>
                            <div class="col-3">
                                @if (Model.AssetFlag == 2)
                                {
                                    <strong>Asset Status :</strong><a>Not an Asset </a>
                                }
                                @if (Model.AssetFlag == 1)
                                {
                                    <strong>Asset Status :</strong><a>New Asset </a>
                                }
                                @if (Model.AssetFlag == 0)
                                {
                                    <strong>Asset Status :</strong><a>Existing Asset </a>
                                }
                            </div>
                            <div class="col-3">
                                <strong>Asset No: </strong>@Model.AssetNo
                            </div>
                            

                        </div>

                    }


                    @if (ViewBag.CPRFFlag == true)
                    {
                        <br />
                        <div class="row">
                            <div class="col-2">
                                @if (Model.AssetFlag == 2)
                                {
                                    <strong>Asset Status :</strong><a>Not an Asset </a>
                                }
                                @if (Model.AssetFlag == 1)
                                {
                                    <strong>Asset Status :</strong><a>New Asset </a>
                                }
                                @if (Model.AssetFlag == 0)
                                {
                                    <strong>Asset Status :</strong><a>Existing Asset </a>
                                }
                            </div>

                            <div class="col-2">
                                <strong>Asset No: </strong> @Model.AssetNo 
                            </div>

                            <div class="col-2">
                                <strong>Internal Order No: </strong> @Model.IOrderNo 
                            </div>

                            <div class="col-2">
                                <strong>Cost Centre No: </strong> @Model.CostCentreNo 
                            </div>

                            <div class="col-2">
                                <strong>Internal Document No:</strong> @Model.internalDocNo 
                            </div>
                        </div>

                    }

                    <hr />
                    @if (Model.PRTypeId == 4 && ViewBag.CPRFFlag == false)
                    {
                        Html.RenderAction("AccountNoForm", "Purchase", new { PrMstId = ViewBag.PrMstId, PrGroup = ViewBag.PrGroup });
                        
                    }

                    @if (Model.PRTypeId == 4 && ViewBag.CPRFFlag == true)
                    {
                        Html.RenderAction("CPRFForm", "Purchase", new { PrMstId = ViewBag.PrMstId, PrGroup = ViewBag.PrGroup });
                        <hr />
                    }

                    <div class="row">
                        <div class="col-md-3">
                            <strong>Requisition Date</strong> <br />
                            @Html.DisplayFor(model => model.RequestDate)
                        </div>
                        <div class="col-md-3">
                            <strong>Requestor</strong> <br />
                            @Html.DisplayFor(model => model.Usr_mst.Username)
                        </div>
                        <div class="col-md-3">
                            <strong>Department</strong> <br />
                            @Html.DisplayFor(model => model.AccTypeDept.DeptName)
                        </div>
                        <div class="col-md-3">
                            <strong>Tel Ext.</strong> <br />
                            @Html.DisplayFor(model => model.Usr_mst.TelExt)
                        </div>
                    </div>
                    <br />
                    @if (Model.PRTypeId == 4)
                    {
                        <div class="row">
                            <div class="col-md-4">
                                <strong>Purpose</strong><br />
                                @Html.DisplayFor(model => model.Purpose)
                            </div>
                            <div class="col-md-4">
                                <strong>Remarks</strong><br />
                                @Html.DisplayFor(model => model.Remarks)
                            </div>

                        </div>
                    }

                    @if (Model.PRTypeId == 4)
                    {
                        using (Ajax.BeginForm("SavePrAsset", "Purchase", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divPurChaseMasterSelected" }))
                        {
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>Purpose</strong> <br />
                                    <textarea id="Purpose" name="Purpose" placeholder="Purpose" class="form-control" value="@Model.Purpose"></textarea> <br />
                                </div>
                                <div class="col-md-6">
                                    <strong>Remarks </strong> <br />
                                    <textarea id="Remarks" name="Remarks" placeholder="Remarks" class="form-control" value="@Model.Remarks"></textarea>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-10"></div>
                                <div class="col-2">
                                    <input type="hidden" name="AssetPrGroup" id="CPRFPrGroup" value="@ViewBag.PrGroup" />
                                    <input type="hidden" value="@ViewBag.PrMStId" id="AssetPrMStId" name="AssetPrMStId" />
                                    <button class="btn btn-info " type="submit">Save   </button>
                                </div>
                            </div>
                        }

                    }

                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>

</div>

<script>
    function ShowPRBudgetList(PrMstId) {
        window.open("/Purchase/ShowPRBudgetList?id=" + PrMstId);
    }
</script>

<script>
    function BudgetSkipChange(Prid) {
        var budgetSelection = $("#budgetSkip").val();
        $.ajax({
            type: "POST",
            url: "@Url.Action("BudgetSkipChange", "Purchase")",
            data: '{PrMstId: "' + Prid + '" , BudgetSkip: "' + budgetSelection +'" }',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                //$('#divPRDtlsForm').html(response);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }


    function CSNonProductChange() {
        if ($("#CSNonProduct").is(":checked")) {
            $("#NonProductflag").val("1");
        } else {
            $("#NonProductflag").val("0");
        }
    }


    function cSCprfChange() {
        if ($("#cSCprf").is(":checked")) {
            $("#divRdAsset").show();
            $("#CPRFflag").val("1");
            $("#chkNewAsset").val("1");
        }
        else {
            $("#divRdAsset").hide();
            $("#CPRFflag").val("0");
            $("#chkNewAsset").val("0");
            $("#chkExtAsset").val("0");
        }
    }

    function extAsset() {
        if ($("#customRadio1").is(":checked")) {
            $("#customRadio1").val("1");
            $("#customRadio2").val("0");
        }
    }

    function newAsset() {
        if ($("#customRadio1").is(":checked")) {
            $("#customRadio1").val("0");
            $("#customRadio2").val("1");
        }
    }


</script>

<script>
    $(document).ready(function () {
        $("#notification").delay(2000).fadeOut("slow");
    });
</script>     