<div id="divPurChaseMasterSelected">

    @model PurchaseWeb_2.ModelData.PR_Mst

    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">PURCHASE REQUISITION</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        @if (Model.PRTypeId != 4)
                        {
                            <div class="col-md-4">
                                <!--PR no-->
                                <strong>PR No :</strong> @Html.DisplayFor(model => model.PRNo)
                            </div>
                            <div class="col-md-4">
                                <!--PR type-->
                                <strong>PR Type :</strong>@Html.DisplayFor(model => model.PRType_mst.Name)
                            </div>
                            <div class="col-md-4">
                                <!--PR type-->
                                <strong>PR Group Type :</strong>@Html.DisplayFor(model => model.PrGroupType1.GroupName)
                            </div>
                        }
                        else
                        {
                            <div class="col-md-4">
                                <!--PR no-->
                                <strong>PR No :</strong> @Html.DisplayFor(model => model.PRNo)
                            </div>
                            <div class="col-md-4">
                                <!--PR type-->
                                <strong>PR Type :</strong>@Html.DisplayFor(model => model.PRType_mst.Name)
                            </div>
                            <div class="col-md-4">
                                <!--PR Account-->
                                <strong>Account Code :</strong>@Html.DisplayFor(model => model.AccountCode)
                            </div>
                        }

                        @{ ViewBag.PrMStId = (int)Model.PRId;}

                    </div>
                    <hr />
                    @if (Model.PRTypeId == 4)
                    {
                        using (Ajax.BeginForm("GetAccountNo", "Purchase", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divPurChaseMasterSelected" }))
                        {
                            <div class="row">
                                <div class="col-md-3">
                                    <strong>Expenses Type :</strong> <br />
                                    @Html.DropDownList("AccTypeExpensesID",
                                 new SelectList(ViewBag.ExpList, "ExpCode", "ExpName"),
                                 "Please Select Expenses Type",
                                 new { @class = "custom-select form-control-border" })
                                </div>
                                <div class="col-md-2">
                                    <strong>Division :</strong> <br />
                                    @Html.DropDownList("AccTypeDivId",
                                 new SelectList(ViewBag.DivList, "DivCode", "DivName"),
                                 "Please Select Division",
                                 new { @class = "custom-select form-control-border" })
                                </div>
                                <div class="col-md-2">
                                    <strong>Department :</strong> <br />
                                    @Html.DropDownList("AccTypeDepID",
                                 new SelectList(ViewBag.DptList, "DeptCode", "DeptName"),
                                 "Please Select Department",
                                 new { @class = "custom-select form-control-border" })
                                </div>
                                <div class="col-md-2">
                                    <strong>CC LVl 1 :</strong> <br />
                                    @Html.DropDownList("AccCCLvl1ID",
                                 new SelectList(ViewBag.CCLvl1, "CCLvl1Code", "CCLvl1Name"),
                                 "Please Select CC Lvl 1",
                                 new { @class = "custom-select form-control-border" })
                                </div>
                                <div class="col-md-3">
                                    <strong>CC Lvl 2 :</strong> <br />
                                    @Html.DropDownList("AccCCLvl2ID",
                                 new SelectList(ViewBag.CCLvl2, "CCLvl2Code", "CCLvl2Name"),
                                 "Please Select CC Lvl 2",
                                 new { @class = "custom-select form-control-border" })
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12 text-md-right">
                                    <input type="hidden" value="@ViewBag.PrMStId" id="PrMStId" name="PrMStId" />
                                    <input type="submit" value="Update Account No" id="btnSaveAcc" name="btnSaveAcc" class="btn btn-primary">
                                </div>
                            </div>

                            <hr />
                        }
                    }

                    <div class="row">
                        <div class="col-md-3">
                            <strong>Requisition Date</strong> <br />
                            @Html.DisplayFor(model => model.RequestDate)
                        </div>
                        <div class="col-md-3">
                            <strong>Requestor</strong> <br />
                            @Html.DisplayFor(model => model.Usr_mst.Username)
                        </div>
                        <div class="col-md-3">
                            <strong>Department</strong> <br />
                            @Html.DisplayFor(model => model.Department_mst.Department_name)
                        </div>
                        <div class="col-md-3">
                            <strong>Tel Ext.</strong> <br />
                            @Html.DisplayFor(model => model.Usr_mst.TelExt)
                        </div>
                    </div>
                    <br />
                    @if (Model.PRTypeId == 4)
                    {
                        <div class="row">
                            <div class="col-md-4">
                                <strong>Purpose</strong><br />
                                @Html.DisplayFor(model => model.Purpose)
                            </div>
                            <div class="col-md-4">
                                <strong>Remarks</strong><br />
                                @Html.DisplayFor(model => model.Remarks)
                            </div>
                            <div class="col-md-4">
                                @if (Model.AssetFlag == 1)
                                {
                                    <p><i>New asset</i></p>
                                    if (Model.CPRF == "")
                                    {<span style="color:red ; font-size:small">PR has tag CPRF without CPRF NO. Please enter CPRF no.</span>}
                                    else
                                    { <strong>CPRF NO :</strong> @Html.DisplayFor(model => model.CPRF); }
                                }
                                else if (Model.AssetFlag == 2)
                                {
                                    <p><i>Improve or add on to the existing assets</i></p>
                                    if (Model.CPRF == "")
                                    {<p class="error">PR has tag without CPRF NO. Please enter CPRF no.</p>}
                                    else
                                    { <strong>CPRF NO :</strong> @Html.DisplayFor(model => model.CPRF); }
                                }
                            </div>
                        </div>
                    }

                    @if (Model.PRTypeId == 4)
                    {
                        using (Ajax.BeginForm("SavePrAsset", "Purchase", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divPurChaseMasterSelected" }))
                        {
                            <hr />
                            <div class="row">
                                <div class="col-md-4">
                                    <strong>Purpose</strong> <br />
                                    <textarea id="Purpose" name="Purpose" placeholder="Purpose" class="form-control" value="@Model.Purpose"></textarea> <br />
                                </div>
                                <div class="col-md-4">
                                    <strong>Remarks </strong> <br />
                                    <textarea id="Remarks" name="Remarks" placeholder="Remarks" class="form-control" value="@Model.Remarks"></textarea>
                                </div>
                                <div class="col-md-4">
                                    <div class="custom-control custom-switch">
                                        <input type="hidden" id="CPRFflag" name="CPRFflag" value="0" />
                                        <input type="checkbox" class="custom-control-input" id="cSCprf" name="cSCprf" onchange="cSCprfChange()" >
                                        <label class="custom-control-label" for="cSCprf">Is this PR for CPRF?</label>
                                    </div>
                                    <hr />

                                    <div id="divRdAsset" style="display:none">
                                        <div class="custom-control custom-radio">
                                            <input type="hidden" id="chkNewAsset" name="chkNewAsset" value="0" />
                                            <input class="custom-control-input" type="radio" id="customRadio1" name="RdAsset" onclick="newAsset()" checked="checked">
                                            <label for="customRadio1" class="custom-control-label">New asset</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="hidden" id="chkExtAsset" name="chkExtAsset" value="0" />
                                            <input class="custom-control-input" type="radio" id="customRadio2" name="RdAsset" onclick="extAsset()">
                                            <label for="customRadio2" class="custom-control-label">Improve or add on to the existing assets</label>
                                        </div>

                                        <strong>CPRF NO.:</strong>
                                        <input type="text" id="CPRF" name="CPRF" value="@Model.CPRF" />
                                    </div>



                                </div>
                            </div>
                            <div class="row">
                                <input type="hidden" value="@ViewBag.PrMStId" id="AssetPrMStId" name="AssetPrMStId" />
                                <button class="btn btn-primary " type="submit">Save</button>
                            </div>
                        }

                    }

                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>

</div>

<script>
    function cSCprfChange() {
        if ($("#cSCprf").is(":checked")) {
            $("#divRdAsset").show();
            $("#CPRFflag").val("1");
            $("#chkNewAsset").val("1");
        }
        else {
            $("#divRdAsset").hide();
            $("#CPRFflag").val("0");
            $("#chkNewAsset").val("0");
            $("#chkExtAsset").val("0");
        }
    }

    function extAsset() {
        if ($("#customRadio1").is(":checked")) {
            $("#customRadio1").val("1");
            $("#customRadio2").val("0");
        } 
    }

    function newAsset() {
        if ($("#customRadio1").is(":checked")) {
            $("#customRadio1").val("0");
            $("#customRadio2").val("1");
        }
    }

    $('form1').on('submit', function () {
        // do validation here
        alert("sini");
        return false;
        /*
        if ( not valid )
            return false;
        */
    });
</script>