@model IEnumerable<PurchaseWeb_2.ModelData.PRFile>


<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td class="text-right py-0 align-middle">
                    <div class="btn-group btn-group-sm">
                        <a href="~/UploadedFile/Quotation/@item.FileName" class="btn btn-info" target="_blank"><i class="fas fa-eye"></i></a>
                        <a class="btn btn-danger" id="deleteFile" name="deleteFile" onclick="deleteFile(@item.PrMstId,@item.FileId)" href="#" > <i class="fas fa-trash"></i></a>
                        <input type="hidden" id="filePrMstId" value="@item.PrMstId" />
                        <input type="hidden" id="fileId" value="@item.FileId" />
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>


    function deleteFile(prMstId, fileId) {
        //alert(prMstId);
        //alert(fileId);
        if (confirm("Are you sure to delete this file?") == true) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("deleteFile", "Purchase")",
                data: '{ PrMstId:"' + prMstId + '", Fileid:"' + fileId + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#divUploadQuote").html(response);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

    };
</script>
