<div id="DivVendorCompareList@{@ViewBag.PrDtlstId}">

    @model IEnumerable<PurchaseWeb_2.ModelData.PR_VendorComparison>

    <div id="notification">
        @Html.Partial("_Notifications")
    </div>
    <table class="table table-sm table-responsive">
        <tr>
            <th>
                Vendor
            </th>
            <th>
                Current Price
            </th>
            <th>
                Quotation Date
            </th>
            <th>
                Last Price
            </th>
            <th style="display:none">
                Last Quotation Date
            </th>
            <th style="display: none">
                PO Date
            </th>

            <th>
                Cost Down
            </th>
            <th>
                Disc.Type
            </th>
            <th>
                Discount
            </th>
            <th>
                Tot. Amaunt (Exc.Tax)
            </th>
            <th>
                Tax
            </th>
            <th>
                Tot. Amaunt (Icl. Tax)
            </th>
            <th>
                Tax Group
            </th>
            <th>
                Tax Class
            </th>
            <th>
                Winner
            </th>

            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VCName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurPrice)
                </td>
                <td>
                    @{
                        DateTime QuoteDate = (DateTime)item.QuoteDate;
                        String strQuoteDate = QuoteDate.ToString("dd/MM/yyyy");
                    }
                    @strQuoteDate

                </td>
                <td>
                    @if (item.LastPrice == null || item.LastPrice == 0.00M)
                    {
                        <a>New</a>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.LastPrice)
                    }
                </td>
                <td style="display: none">
                    @{
                        String strLastQuoteDate = "";

                        if (item.LastQuoteDate != null)
                        {
                            DateTime LastQuoteDate = (DateTime)item.LastQuoteDate;
                            strLastQuoteDate = LastQuoteDate.ToString("dd/MM/yyyy");
                        }
                    }

                    @strLastQuoteDate

                </td>
                <td style="display: none">
                    @{
                        String strPODate = "";

                        if (item.PODate != null)
                        {
                            DateTime PODate = (DateTime)item.PODate;
                            strPODate = PODate.ToString("dd/MM/yyyy");
                        }
                    }

                    @strPODate

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CostDown)
                </td>

                <td>
                    @if (item.DiscType == 1)
                    {
                        <a>%</a>
                    }
                    else
                    {
                        <a>Amount</a>
                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TotCostnoTax)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Tax)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TotCostWitTax)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TaxCode)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TaxClass)
                </td>

                <td>
                    @{ if (item.FlagWin == true)
                        {
                            <a><strong>Winner</strong></a>
                        }
                    }

                </td>

                <td>
                    @*@using (Ajax.BeginForm("VendorComparisonWinner", "Purchase", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivPRDtlsForPurchaser" }))*@
                    @using (Html.BeginForm("VendorComparisonWinner", "Purchase", FormMethod.Post, new { @class = "winform" }))
                    {
                        <button class="btn btn-success"><i class="fa fa-check-circle"></i></button>
                        <input type="hidden" value="@item.VCId" id="VCIdw" name="VCIdw" />
                    }

                </td>
                <td>
                    @using (Ajax.BeginForm("VendorComparisonDelete", "Purchase", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divVDCompareLst_" + item.PRDtId + "" }))
                    {
                        <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
                        <input type="hidden" value="@item.VCId" id="VCIdDel" name="VCIdDel" />
                    }
                </td>
            </tr>
            <tr>
            </tr>
        }

    </table>
</div>

<script>
    $(document).ready(function () {
        $("#notification").delay(2000).fadeOut("slow");
    });
</script> 