
@model PurchaseWeb_2.Models.VendorComparisonModel

@*using (Html.BeginForm("VendorComparison", "Purchase", FormMethod.Post)) *@
@using (Ajax.BeginForm("VendorComparison", "Purchase",
    new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivVendorCompareList" + @ViewBag.PrDtlstId, OnSuccess = "OnSuccess(" + @ViewBag.PrDtlstId + ", " + @ViewBag.Qty + ", " + @ViewBag.PrMstId + ")" },
    new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()



    <div class="row">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-2">
            <div class="custom-control custom-switch">
                &nbsp; <input type="checkbox" class="custom-control-input" id="swNewVendor_@ViewBag.PrDtlstId" onchange="swNewVendorChg(@ViewBag.PrDtlstId)" />
                <label class="custom-control-label" for="swNewVendor_@ViewBag.PrDtlstId">Vendor not in the list?</label>
            </div>
        </div>

        <div class="col-md-3">
            Vendor name
            <div id="divVendorList_@ViewBag.PrDtlstId">
                <select class="fstdropdown-select form-control-border" id="VendorCode" name="VendorCode" onchange="getCurCode(this.value, @ViewBag.PrDtlstId)">
                    <option value="">Select option</option>
                    @foreach (var vd in ViewBag.vdLst)
                    {
                        if (vd.VENDORID == Model.VendorCode)
                        {
                            <option value="@vd.VENDORID" selected>@vd.VENDORID - @vd.VENDNAME</option>
                        }
                        else
                        {
                            <option value="@vd.VENDORID">@vd.VENDORID - @vd.VENDNAME</option>
                        }
                    }
                </select>
            </div>

            <br />
            @Html.ValidationMessageFor(model => model.VendorCode, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-1">
            Current Price <br />
            @Html.EditorFor(model => model.CurPrice, new { htmlAttributes = new { @class = "form-control", @onfocusout = "UpdatePrice(this.value, " + @ViewBag.PrDtlstId + ", " + @ViewBag.Qty + " )", @Value = Model.CurPrice, @kiraCurP = ViewBag.PrDtlstId } }) <br />
            @Html.ValidationMessageFor(model => model.CurPrice, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-2">
            Currency Exch. Rate<br />
            <div id="divCurCode_@ViewBag.PrDtlstId">
                @{ Html.RenderAction("getCurCode", "Purchase", new{ vdCode = Model.VendorCode , PrDtlstId = Model.PRDtId });}
            </div>
        </div>


    </div>

    <div class="row">
        <div class="col-2">
            Current Price (MYR) <br />
            @Html.EditorFor(model => model.CurPriceMYR, new { htmlAttributes = new { @class = "form-control", @onchange = "UpdatePrice(this.value, " + @ViewBag.PrDtlstId + ", " + @ViewBag.Qty + " )", @Value = Model.CurPriceMYR, @kiraCurPMYR = ViewBag.PrDtlstId } }) <br />
            @Html.ValidationMessageFor(model => model.CurPriceMYR, "", new { @class = "text-danger" })
            <input type="hidden" name="unitCurrPriceMYR" id="unitCurrPriceMYR" kiraUnitCurPMYR="@ViewBag.PrDtlstId" value="" />
        </div>

        <div class="col-md-2">
            Quote. Date <br />
            @{ 
                var QuoteDateDt = Model.QuoteDate ?? DateTime.Today;
             }
            @Html.EditorFor(model => model.QuoteDate, new { htmlAttributes = new { @class = "form-control", @Value = QuoteDateDt.ToString("yyyy-MM-dd") } } ) <br />
            @Html.ValidationMessageFor(model => model.QuoteDate, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-1">
            Last Price (MYR)<br />
            @Html.EditorFor(model => model.LastPrice, new { htmlAttributes = new { @class = "form-control", @Value = Model.LastPrice, @kiraLastP = ViewBag.PrDtlstId, @onfocusout = "UpdateCostDown(this.value , " + @ViewBag.PrDtlstId + " )" } }) <br />
            @Html.ValidationMessageFor(model => model.LastPrice, "", new { @class = "text-danger" })

        </div>
        <div class="col-md-2" style="display:none">
            Quote. Date <br />
            @{
                var LastQuoteDate = Model.LastQuoteDate ?? DateTime.Today;
            }
            @Html.EditorFor(model => model.LastQuoteDate, new { htmlAttributes = new { @class = "form-control" }, @Value = LastQuoteDate.ToString("yyyy-MM-dd") }) <br />
            @Html.ValidationMessageFor(model => model.LastQuoteDate, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-2" style="display:none">
            PO. Date <br />
            @Html.EditorFor(model => model.PODate, new { htmlAttributes = new { @class = "form-control" } }) <br />
            @Html.ValidationMessageFor(model => model.PODate, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-1">
            Cost Down % <br />
            @Html.EditorFor(model => model.CostDown, new { htmlAttributes = new { @class = "form-control", @Value = Model.CostDown, @kiraCostD = ViewBag.PrDtlstId } }) <br />
            @Html.ValidationMessageFor(model => model.CostDown, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-1 pr-3">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="csDiscount_@ViewBag.PrDtlstId" onchange="chgDiscount(this , @ViewBag.PrDtlstId)">
                <label class="custom-control-label" for="csDiscount_@ViewBag.PrDtlstId">Discount?</label>
            </div>
            <br />
            <div id="divRdDisc_@ViewBag.PrDtlstId" style="display:none">
                <input type="radio" id="percent_@ViewBag.PrDtlstId" name="rdDiscount" value="percent" onclick="cghRdDisc( this.value, @ViewBag.PrDtlstId)">
                <label for="percent">%</label>
                <input type="radio" id="amount_@ViewBag.PrDtlstId" name="rdDiscount" value="amount" onclick="cghRdDisc( this.value, @ViewBag.PrDtlstId)">
                <label for="amount">Amount</label>
                <input type="hidden" id="discType_@ViewBag.PrDtlstId" name="DiscType" value="0" />
            </div>

        </div>

        <div class="col-md-1 pr-3" id="divDiscount_@ViewBag.PrDtlstId" style="display:none">
            Discount % <br /> <input type="text" id="percentDisc" name="percentDisc" value="0.00" onchange="cghPerDisc(this.value, @ViewBag.PrDtlstId)" />
        </div>
    </div>

    <div class="row">


        <div class="col-md-2 pr-3">
            Total Amount (Exc) <br chgCurRate />
            @Html.EditorFor(model => model.TotCostnoTax, new { htmlAttributes = new { @class = "form-control", @kiraTAE = ViewBag.PrDtlstId, @Value = Model.TotCostnoTax } }) <br />
            @Html.ValidationMessageFor(model => model.TotCostnoTax, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.TotCostnoTaxVendorCur, new { @class = "form-control", @kiraTAEvd = ViewBag.PrDtlstId, @Value = "0.00" })
        </div>
        &nbsp;
        <div class="col-md-1 pr-3">
            Tax %<br />
            @Html.EditorFor(model => model.Tax, new { htmlAttributes = new { @class = "form-control", @Value = Model.Tax, @kiraTax = ViewBag.PrDtlstId, @onfocusout = "UpdateTax(this.value , " + @ViewBag.PrDtlstId + " , " + @ViewBag.Qty + ")" } }) <br />
            @Html.ValidationMessageFor(model => model.Tax, "", new { @class = "text-danger" })
        </div>
        &nbsp;
        <div class="col-md-2 pr-3">
            Total Amount (Icl)<br />
            @Html.EditorFor(model => model.TotCostWitTax, new { htmlAttributes = new { @class = "form-control", @Value = Model.TotCostWitTax , @kiraTAI = ViewBag.PrDtlstId } }) <br />
            @Html.ValidationMessageFor(model => model.TotCostWitTax, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.TotCostWitTaxVendorCur, new { @class = "form-control", @kiraTAIvd = ViewBag.PrDtlstId, @Value = "0.00" })
        </div>
        &nbsp;
        <div class="col-md-2 pr-3">
            Payment Terms<br />
            <div id="divTerms_@ViewBag.PrDtlstId">
                <select class="fstdropdown-select form-control-border" id="PayTerms" name="PayTerms">
                    @foreach (var vd in ViewBag.termlist)
                    {
                        if (Model.PayTerms == vd.TERMSCODE)
                        {
                            <option value="@vd.TERMSCODE" selected>@vd.TERMSCODE - @vd.CODEDESC</option>
                        }
                        else
                        {
                            <option value="@vd.TERMSCODE">@vd.TERMSCODE - @vd.CODEDESC</option>
                        }
                    }
                </select>
            </div>

            @Html.ValidationMessageFor(model => model.PayTerms, "", new { @class = "text-danger" })
        </div>
        &nbsp;
        <div class="col-md-1 pr-3">
            Tax Code<br />
            @Html.EditorFor(model => model.TaxCode, new { htmlAttributes = new { @class = "form-control", @Value = Model.TaxCode } }) <br />
            @Html.ValidationMessageFor(model => model.TaxCode, "", new { @class = "text-danger" })
        </div>

        &nbsp;
        <div class="col-md-1 pr-3">
            Tax Class<br />
            @Html.EditorFor(model => model.TaxClass, new { htmlAttributes = new { @class = "form-control", @Value = Model.TaxClass } }) <br />
            @Html.ValidationMessageFor(model => model.TaxClass, "", new { @class = "text-danger" })
        </div>

    </div>

    //quotation
    <div class="row" style="display:none">
        <div class="col-1">
            <b>Quotation No:</b>
        </div>
        <div class="col-2">
            <input type="text" id="QuoteNo" name="QuoteNo" class="form-control" />
            <input type="hidden" value="@ViewBag.PrDtlstId" id="vendorPrDtlstId" name="vendorPrDtlstId" />
        </div>
        <div class="col-2">
            <div class="input-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="file" name="file">
                    <label class="custom-file-label" for="file">Choose file</label>
                </div>
            </div>
        </div>

    </div>

    //remarks
    <div class="row">
        <div class="col-1">
            <b>Remarks:</b>
        </div>
        <div class="col-3">
            @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control", @Value = Model.Remarks })
            <!--<textarea id="Remarks" name="Remarks" rows="4"></textarea>-->
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-centered">
                <br />
                <input type="hidden" value="@ViewBag.PrDtlstId" id="PrDtlstId" name="PrDtlstId" />
                <input type="hidden" value="@ViewBag.Qty" id="PrdtlsQty" name="PrdtlsQty" />
                <button class="btn btn-success"><i class="fa fa-plus-circle"> Add</i></button>
                <button class="btn btn-warning" type="button" onclick="refresh(@ViewBag.PrDtlstId)"><i class="fa fa-rotate-left"> Refresh</i></button>
            </div>
        </div>
    </div>

}



<script type="text/javascript">
    $('#file').on('change', function () {
        //get the file name
        var fileName = $(this).val();
        //replace the "Choose a file" label
        var cleanFileName = fileName.replace('C:\\fakepath\\', " ");
        $(this).next('.custom-file-label').html(cleanFileName);
    })

    function refresh(PrDtlstId) {
        $(".overlay").show();
        $.ajax({
            type: "POST",
            url: "@Url.Action("VendorComparisonRefresh", "Purchase")",
            data: '{PrDtlstId: "' + PrDtlstId + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                $("#divVendorComparison_" + PrDtlstId).html(response);
                $(".overlay").hide();
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    $(document).ready(function () {
        setFstDropdown();
    });


    function OnSuccess(PrDtlstId, Qty, PrMstId) {
        console.log("OnSuccess prDtId=" + PrDtlstId);
        console.log("OnSuccess Qty=" + Qty);

        $("[kiraCurP=" + PrDtlstId + "]").val(0);

        UpdatePrice(0, PrDtlstId, Qty);

        $.ajax({
            type: "POST",
            url: "@Url.Action("SourcingRemarks", "Purchase")",
            data: '{PrMstId: "' + PrMstId + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                $("#divSourcingRemarks").html(response);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });


    }


    function UpdatePrice(Price, PrDtlstId, Qty) {
        console.log("UpdatePrice Price=" + Price + " Qty=" + Qty);

        var curRate = $("[curRate=" + PrDtlstId + "]").val();
        var totamtVd = Qty * Price;
        var totamt = Qty * Price * curRate;

        // update cost unit MYR
        var unitCurPriceMYR = Price * curRate;
        $("[kiraUnitCurPMYR=" + PrDtlstId + "]").val(unitCurPriceMYR);
        $("[kiraUnitCurPMYR=" + PrDtlstId + "]").attr("value", unitCurPriceMYR);
        //$("[kiraCurP=" + PrDtlstId + "]").val(unitCurPriceMYR);
        //$("[kiraCurP=" + PrDtlstId + "]").attr("value", unitCurPriceMYR);
        console.log ( unitCurPriceMYR) ;

        // update cost MYR
        $("[kiraCurPMYR=" + PrDtlstId + "]").val(totamt.toFixed(2));
        $("[kiraCurPMYR=" + PrDtlstId + "]").attr("value", totamt.toFixed(2));

        // update tot cost no tax

        $("[kiraTAE=" + PrDtlstId + "]").val(totamt.toFixed(2));
        $("[kiraTAE=" + PrDtlstId + "]").attr("value", totamt.toFixed(2));

        $("[kiraTAEvd=" + PrDtlstId + "]").val(totamtVd.toFixed(2));
        $("[kiraTAEvd=" + PrDtlstId + "]").attr("value", totamtVd.toFixed(2));
        console.log("kiraTAEvd=" + $("[kiraTAEvd=" + PrDtlstId + "]").val());

        // update tot cost with tax
        var taxamt = $("[kiraTax=" + PrDtlstId + "]").val() / 100 * totamt;
        $("[kiraTAI=" + PrDtlstId + "]").val((taxamt + totamt).toFixed(2));
        $("[kiraTAIvd=" + PrDtlstId + "]").val((taxamt + totamtVd).toFixed(2));
        console.log("kiraTAIvd=" + $("[kiraTAIvd=" + PrDtlstId + "]").val());

        // calc Costdown
        var lastPrice = $("[kiraLastP=" + PrDtlstId + "]").val();
        console.log("lastPrice =" + lastPrice);
        if (lastPrice <= 0) {
            $("[kiraCostD=" + PrDtlstId + "]").val(0);
        } else {
            var curPrice = $("[kiraCurP=" + PrDtlstId + "]").val();
            var currRate = $("[curRate=" + PrDtlstId + "]").val();
            console.log("CurP MYR =" + curPrice);
            var costDown = (lastPrice - (curPrice * currRate )) / lastPrice * 100;
            $("[kiraCostD=" + PrDtlstId + "]").val(costDown.toFixed(2));
            console.log("Cost Down = " + $("[kiraCostD=" + PrDtlstId + "]").val());
        }
    }

    function UpdateCostDown(lastPrice, PrDtlstId) {
        // calc Costdown
        //var lastPrice = $("[kiraLastP=" + PrDtlstId + "]").val();
        if (lastPrice <= 0) {
            $("[kiraCostD=" + PrDtlstId + "]").val(0);
        } else {
            var curPrice = $("[kiraCurP=" + PrDtlstId + "]").val();
            var currRate = $("[curRate=" + PrDtlstId + "]").val();
            var costDown = (lastPrice - (curPrice * currRate)) / lastPrice * 100;
            $("[kiraCostD=" + PrDtlstId + "]").val(costDown.toFixed(2));
        }
    }

    function UpdateTax(tax, PrDtlstId, Qty) {
        var curPrice = $("[kiraCurPMYR=" + PrDtlstId + "]").val();
        // sebab kiraCurPMYR da kira sekali Qty
        //var totamt = Qty * curPrice;
        console.log(curPrice);
        var totamt = curPrice * 1.00;

        var curPriceVd = $("[kiraCurP=" + PrDtlstId + "]").val();
        var totamtVd = Qty * curPriceVd;

        //check discount
        //chk if rdio percent is checked
        if ($("#percent_" + PrDtlstId + "").prop("checked") == true) {
            console.log("percent is checked.");
            //percentDisc_ tax amount
            var DiscAmt = $("#percentDisc_" + PrDtlstId + "").val() / 100 * totamt;
            totamt = totamt - DiscAmt;

            //percentDisc_ tax amount Vendor
            var DiscAmtVd = $("#percentDisc_" + PrDtlstId + "").val() / 100 * totamtVd;
            totamtVd = totamtVd - DiscAmt;

        } else if ($("#amount_" + PrDtlstId + "").prop("checked") == true)
        {
            console.log("amount is checked.");
            //amountDisc_ tax amount
            var DiscAmt = $("#amountDisc_" + PrDtlstId + "").val();
            totamt = totamt - DiscAmt;

            //amountDisc_ tax amount
            var DiscAmtVd = $("#amountDisc_" + PrDtlstId + "").val();
            totamtVd = totamtVd - DiscAmt;
        }
        console.log("totamt="+ totamt);
        //update tot no tax
        $("[kiraTAE=" + PrDtlstId + "]").val(totamt.toFixed(2));
        $("[kiraTAE=" + PrDtlstId + "]").attr("value", totamt.toFixed(2));

        $("[kiraTAEvd=" + PrDtlstId + "]").val(totamtVd.toFixed(2));
        $("[kiraTAEvd=" + PrDtlstId + "]").attr("value", totamtVd.toFixed(2));

        //update tot after tzx
        var taxamt = tax / 100 * totamt;
        $("[kiraTAI=" + PrDtlstId + "]").val((taxamt + totamt).toFixed(2));

        var taxamtVd = tax / 100 * totamtVd;
        $("[kiraTAIvd=" + PrDtlstId + "]").val((taxamtVd + totamtVd).toFixed(2));
    }

    $(function () {
        $('input#CurPrice').blur(function () {
            var textAmt = (this.value).replace(/,/g, "");
            var amt = parseFloat(this.value);
            $(this).val(amt.toFixed(5));
        });
    });

    $(function () {
        $('input#LastPrice').blur(function () {
            var textAmt = (this.value).replace(/,/g, "");
            var amt = parseFloat(this.value);
            $(this).val(amt.toFixed(5));
        });
    });

    function getCurCode(vdCode, PrDtlstId) {
        console.log(vdCode);
        console.log(PrDtlstId);
        $.ajax({
            type: "POST",
            url: "@Url.Action("getCurCode","Purchase")",
            data: JSON.stringify({ vdCode: vdCode, PrDtlstId: PrDtlstId }),
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                $('#divCurCode_' + PrDtlstId + '').html(response);

            },
            failure: function (response) {
                alert(response.responseText);
            }
        });

        $.ajax({
            type: "POST",
            url: "@Url.Action("getTermsCode","Purchase")",
            data: JSON.stringify({ vdCode: vdCode, PrDtlstId: PrDtlstId }),
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                $('#divTerms_' + PrDtlstId + '').html(response);

            },
            failure: function (response) {
                alert(response.responseText);
            }
        });

        $.ajax({
            type: "POST",
            url: "@Url.Action("getVendorCode","Purchase")",
            data: JSON.stringify({ vdCode: vdCode, PrDtlstId: PrDtlstId }),
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                $('#divVdCode_' + PrDtlstId + '').html(response);

            },
            failure: function (response) {
                alert(response.responseText);
            }
        });
    }

    function chgCurRate(curRate, PrDtlstId, Qty) {
        console.log(curRate);
        console.log(PrDtlstId);

        // get cur price time exchange rate
        var curPrice = $("[kiraCurP=" + PrDtlstId + "]").val();
        var curPriceRate = curRate * curPrice;

        // update MYR current price
        $("[kiraCurPMYR=" + PrDtlstId + "]").val(curPriceRate.toFixed(5));

        var totamt = Qty * curPriceRate;

        // update tot no tax
        $("[kiraTAE=" + PrDtlstId + "]").val(totamt.toFixed(2));
        $("[kiraTAE=" + PrDtlstId + "]").attr("value", totamt.toFixed(2));


        // calc tax and tot with tax
        var taxamt = $("[kiraTax=" + PrDtlstId + "]").val() / 100 * totamt;
        $("[kiraTAI=" + PrDtlstId + "]").val((taxamt + totamt).toFixed(2));


        // calc Costdown
        var lastPrice = $("[kiraLastP=" + PrDtlstId + "]").val();
        if (lastPrice <= 0) {
            $("[kiraCostD=" + PrDtlstId + "]").val(0);
        } else {
            var curPrice = $("[kiraCurPMYR=" + PrDtlstId + "]").val();
            var costDown = (lastPrice - curPrice) / lastPrice * 100;
            $("[kiraCostD=" + PrDtlstId + "]").val(costDown.toFixed(2));
        }

    }

    function chgDiscount(tggleDis, PrDtlstId) {
        if ($(tggleDis).prop("checked") == true) {
            $("#divRdDisc_" + PrDtlstId + "").show();
            console.log("Checkbox is checked.");
        }
        else if ($(tggleDis).prop("checked") == false) {
            $("#divDiscount_" + PrDtlstId + "").hide();
            $("#divDiscount_" + PrDtlstId + "").html("");
            $("#divRdDisc_" + PrDtlstId + "").hide();
            console.log("Checkbox is unchecked.");
        }
    }

    function cghRdDisc(rValue, PrDtlstId) {
        if (rValue == "percent") {
            $("#divDiscount_" + PrDtlstId + "").show();
            $("#divDiscount_" + PrDtlstId + "").html("Discount % <br /> <input type='text' id='percentDisc_" + PrDtlstId + "' name='Discount' value='0.00' onfocusout='cghPerDisc(this.value, " + PrDtlstId + ")' class='form-control'/>");
            //discType_
            $("#discType_" + PrDtlstId + "").val(1);
        } else if (rValue == "amount") {
            $("#divDiscount_" + PrDtlstId + "").show();
            $("#divDiscount_" + PrDtlstId + "").html("Discount Amt.<br /> <input type='text' id='amountDisc_" + PrDtlstId + "' name='Discount' value='0.00' onfocusout='cghAmtDisc(this.value, " + PrDtlstId + ")' class='form-control'/>");
            $("#discType_" + PrDtlstId + "").val(2);
        }
    }

    function cghPerDisc(PerDisc, PrDtlstId) {
        console.log(PerDisc);
        console.log(PrDtlstId);

        // update tot no tax after discount
        var totAmt = $("[kiraTAE=" + PrDtlstId + "]").val();
        console.log(totAmt);
        var DiscAmt = PerDisc / 100 * totAmt;
        var DiscTotAmt = totAmt - DiscAmt;
        console.log(DiscAmt);
        $("[kiraTAE=" + PrDtlstId + "]").val(DiscTotAmt.toFixed(2));

        //update tot no tax in vd currency discount
        var totAmtvd = $("[kiraTAEvd=" + PrDtlstId + "]").val();
        console.log("totAmtvd=" + totAmtvd);
        var DiscAmtvd = PerDisc / 100 * totAmtvd;
        var DiscTotAmtvd = totAmtvd - DiscAmtvd;
        console.log("DiscAmtvd="+DiscAmtvd);
        $("[kiraTAEvd=" + PrDtlstId + "]").val(DiscTotAmtvd.toFixed(2));

        // calculate tax and tot amt after tax
        var taxamt = $("[kiraTax=" + PrDtlstId + "]").val() / 100 * DiscTotAmt;
        console.log(taxamt);
        $("[kiraTAI=" + PrDtlstId + "]").val((taxamt + DiscTotAmt).toFixed(2));

        // calculate tax and tot amt after tax vendor currency
        var taxamtvd = $("[kiraTaxvd=" + PrDtlstId + "]").val() / 100 * DiscTotAmtvd;
        console.log(taxamtvd);
        $("[kiraTAIvd=" + PrDtlstId + "]").val((taxamtvd + DiscTotAmtvd).toFixed(2));

        // calc Costdown
        var lastPrice = $("[kiraLastP=" + PrDtlstId + "]").val();
        if (lastPrice <= 0) {
            $("[kiraCostD=" + PrDtlstId + "]").val(0);
        } else {
            var curPrice = $("[kiraCurPMYR=" + PrDtlstId + "]").val();
            var costDown = (lastPrice - curPrice) / lastPrice * 100;
            $("[kiraCostD=" + PrDtlstId + "]").val(costDown.toFixed(2));
        }
    }

    function cghAmtDisc(AmtDisc, PrDtlstId) {
        console.log(AmtDisc);
        console.log(PrDtlstId);
        var totAmt = $("[kiraTAE=" + PrDtlstId + "]").val();
        console.log(totAmt);
        var DiscAmt = AmtDisc;
        var DiscTotAmt = totAmt - DiscAmt;
        console.log(DiscAmt);
        $("[kiraTAE=" + PrDtlstId + "]").val(DiscTotAmt);

        var taxamt = $("[kiraTax=" + PrDtlstId + "]").val() / 100 * DiscTotAmt;
        console.log(taxamt);
        $("[kiraTAI=" + PrDtlstId + "]").val((taxamt + DiscTotAmt).toFixed(2));

        // calc Costdown
        var lastPrice = $("[kiraLastP=" + PrDtlstId + "]").val();
        if (lastPrice <= 0) {
            $("[kiraCostD=" + PrDtlstId + "]").val(0);
        } else {
            var curPrice = $("[kiraCurP=" + PrDtlstId + "]").val();
            var costDown = (lastPrice - curPrice) / lastPrice * 100;
            $("[kiraCostD=" + PrDtlstId + "]").val(costDown.toFixed(2));
        }
    }

    function swNewVendorChg(PrDtlstId) {
        if ($("#swNewVendor_" + PrDtlstId).is(":checked")) {

            $.ajax({
                type: "POST",
                url: "@Url.Action("callNewVendor","Purchase")",
                data: '',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $('#divVendorList_' + PrDtlstId).html(response);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

            $.ajax({
                type: "POST",
                url: "@Url.Action("getCurCodeList","Purchase")",
                data: JSON.stringify({ PrDtlstId: PrDtlstId }),
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $('#divCurCode_' + PrDtlstId + '').html(response);

                },
                failure: function (response) {
                    alert(response.responseText);
                }
            });

        } else {

            $.ajax({
                type: "POST",
                url: "@Url.Action("callVendorListSourcing","Purchase")",
                data: '{PrDtlstId: "' + PrDtlstId + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $('#divVendorList_' + PrDtlstId).html(response);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });



        }
    }

</script>



