@model PurchaseWeb_2.ModelData.CPRFBudget_Mst

<style>
    .details-border {
        border: 2px solid black;
    }

    .details-border ~ td {
        border: 2px solid black;
    }

    table.table-border td, th {
        border: 1px solid;
    }

    table.table-border {
        width: 100%;
        border-collapse: collapse;
    }
</style>

<table>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td colspan="6" style="font-size:large;font-weight:bold;font-family:Arial">
            DOMINANT OPTO TECHNOLOGIES
        </td>

        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td style="font-weight:bold">
            DGEN-574
        </td>
    </tr>

    <tr>
        <td colspan="3">
            CAPEX PROJECT APPROVAL FORM (BY @Model.BudgetUtilYear)
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>CPRF No. :</td>
        <td colspan="3" style="border-style:groove;">
            @Model.CPRF_No
        </td>
    </tr>

    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td colspan="2">Project Owner : </td>
        <td>@Model.Usr_mst.Username</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td style="border-style: groove; text-align: center">
            @if (Model.CPRFBudget_Dtls.Select(s => s.CategoryId).FirstOrDefault() == 1)
            {
                <b>X</b>
            }
            &nbsp;
        </td>
        <td colspan="3">Capacity Expansion</td>
    </tr>

    <tr>
        <td colspan="2">HoD : </td>
        <td>@Model.HODName</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td style="border-style: groove; text-align: center">
            @if (Model.CPRFBudget_Dtls.Select(s => s.CategoryId).FirstOrDefault() == 2)
            {
                <b>X</b>
            }
        </td>
        <td colspan="3">Automation</td>
    </tr>

    <tr>
        <td colspan="2">Project Title : </td>
        <td>@Model.ProjectTitle</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td style="border-style: groove; text-align: center">
            @if (Model.CPRFBudget_Dtls.Select(s => s.CategoryId).FirstOrDefault() == 3)
            {
                <b>X</b>
            }
        </td>
        <td colspan="3">Quality Improvement</td>
    </tr>

    <tr>
        <td colspan="2">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td style="border-style: groove;text-align:center">
            @if (Model.CPRFBudget_Dtls.Select(s => s.CategoryId).FirstOrDefault() == 4)
            {
                <b>X</b>
            }
        </td>
        <td colspan="3">Production Improvement</td>
    </tr>

    <tr>
        <td colspan="2">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td style="border-style: groove; text-align: center">
            @if (Model.CPRFBudget_Dtls.Select(s => s.CategoryId).FirstOrDefault() == 5)
            {
                <b>X</b>
            }
        </td>
        <td colspan="3">Reliability</td>
    </tr>

    <tr>
        <td colspan="2">Project Justification :</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td colspan="9">@Model.ProjectJustification</td>
    </tr>

    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td colspan="2">Savings / Benefits :</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td colspan="9">@Model.Benefits</td>
    </tr>

    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td colspan="9">
            <table class="table-border">
                <tr>
                    <td rowspan="2" style="text-align:center;">Item No</td>
                    <td rowspan="2" colspan="2" style="text-align:center;">Descriptions</td>
                    <td rowspan="2" colspan="2" style="text-align:center;">UoM</td>
                    <td rowspan="2" style="text-align:center;">Budget Requested (RM)</td>
                    <td rowspan="2" style="background-color:black;">&nbsp;</td>
                    <td colspan="2" style="text-align:center;">Budget Utilization (RM)</td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">@Model.BudgetUtilYear</td>
                </tr>

                @{ int i = 0;}
                @foreach (var item in Model.CPRFBudget_Dtls)
                {
                    i++;
                    if (item.StatusId == 1)
                    {
                        <tr>
                            <td style="text-align:center;">@i</td>
                            <td colspan="2">@item.Description</td>
                            <td colspan="2" style="text-align:right;">@item.Qty</td>
                            <td style="text-align:right;">@String.Format("{0:N2}", item.TotalBudgetMYR)</td>
                            <td style="background-color:black;">&nbsp;</td>
                            <td colspan="2" style="text-align:right;">&nbsp;</td>
                        </tr>
                    }

                }


                <tr>
                    <td>&nbsp;</td>
                    <td colspan="2">Remark:</td>
                    <td colspan="2" style="text-align:right;">&nbsp;</td>
                    <td style="text-align:right;">&nbsp;</td>
                    <td style="background-color:black;">&nbsp;</td>
                    <td colspan="2">&nbsp;</td>
                </tr>

                <tr>
                    <td style="font-weight:bold;">Grand Total</td>
                    <td colspan="4">&nbsp;</td>
                    <td style="text-align:right;">@String.Format("{0:N2}", Model.CPRFBudget_Dtls.Where(x=>x.StatusId == 1).Sum(s => s.TotalBudgetMYR))</td>
                    <td style="background-color:black;">&nbsp;</td>
                    <td colspan="2" style="text-align:right;">&nbsp;</td>
                </tr>

            </table>
        </td>
    </tr>

    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>Approval From Executive Committee:</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>Signature:</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td style="border-bottom:1px solid black;">
            @if (Model.COOName != null)
            {
                <b>
                    Approved by system on @Model.SendToGMD
                </b>
            }
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>Name:</td>
        <td>&nbsp;</td>
        <td>Low Tek Beng  (COO)</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>Budget approved</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>Budget consumed*</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>Signature:</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td style="border-bottom:1px solid black;">
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>Balanced available</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>Name:</td>
        <td>&nbsp;</td>
        <td>Cheam Dau Peng (Executive Director)</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>Signature:</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td style="border-bottom:1px solid black;">
            @if (Model.GMDName != null)
            {
                <b>
                    Approved by system on @Model.SendToProcessIE
                </b>
            }
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>Name:</td>
        <td>&nbsp;</td>
        <td>Tay Kheng Chiong  (GMD)</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>





</table>
