@model PurchaseWeb_2.Models.LogOnModel
@{
    ViewBag.Title = "LogOn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login Form </h1>
<div class="clear-loading spinner">
    <span></span>
</div>
<div class="w3ls-login box box--big">
    <!-- form starts here -->
    <form action="#" method="post">
    <!--using (Html.BeginForm("LogOn", null, FormMethod.Post))-->
    
        @if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count() > 0)
        {
            <div class="alert alert-danger">
                @Html.ValidationSummary(true, "")
            </div>
        }

        <div class="agile-field-txt">
            <label><i class="fa fa-user" aria-hidden="true"></i> Username </label>
            <!--input type="text" name="UserName" placeholder="Enter User Name" required="" /> -->
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName, "")
        </div>
        <div class="agile-field-txt">
            <label><i class="fa fa-unlock-alt" aria-hidden="true"></i> password </label>
            <!--<input type="password" name="Password" placeholder="Enter Password" required="" id="myInput" />-->
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password, "")
            <div class="agile_label">
                <input id="check3" name="check3" type="checkbox" value="show password" onclick="myFunction()">
                <label class="check" for="check3">Show password</label>
            </div>
            <!--<div class="agile-right">
                <a href="#">forgot password?</a>
            </div>-->
        </div>
        <!-- script for show password -->
        <script>
                function myFunction() {
                    var x = document.getElementById("myInput");
                    if (x.type === "password") {
                        x.type = "text";
                    } else {
                        x.type = "password";
                    }
                }
        </script>
        <!-- //end script -->
        <input type="submit" value="LOGIN">
        </form>
    
</div>
<!-- //form ends here -->
