<div id="divLstMonthDeptBudget">
    @model IEnumerable<PurchaseWeb_2.ModelData.SP_MonthlyDeptBudget_Result>

    <script type="text/javascript">

        function ShowAddBudget(BudgetId) {
            console.log("ShowAddBudget =" + BudgetId);
            let height = 500;
            let width = 400;
            // set the horizontal center of the popup window the center of the screen.
            var left = (screen.width - width) / 2;
            // set thevertical center of the popup window the center of the screen.
            var top = (screen.height - height) / 2;

            window.open("/Budget/AddBudgetForm/" + BudgetId + "?NoOrder=0", "PopupWindow", 'width=400px,height=500px,toolbar=no,menubar=no,resizable=yes,top=' + top + ',left=' + left + '');

        }

        function ShowMinusBudget(BudgetId) {
            console.log("ShowMinusBudget =" + BudgetId);
            let height = 500;
            let width = 400;
            // set the horizontal center of the popup window the center of the screen.
            var left = (screen.width - width) / 2;
            // set thevertical center of the popup window the center of the screen.
            var top = (screen.height - height) / 2;

            window.open("/Budget/MinusBudgetForm/" + BudgetId + "?NoOrder=0", "PopupWindow", 'width=400px,height=500px,toolbar=no,menubar=no,resizable=yes,top=' + top + ',left=' + left + '');
        }

        function ShowEditBudget(BudgetId) {
            console.log("ShowEditBudget =" + BudgetId);
            let height = 500;
            let width = 400;
            // set the horizontal center of the popup window the center of the screen.
            var left = (screen.width - width) / 2;
            // set thevertical center of the popup window the center of the screen.
            var top = (screen.height - height) / 2;

            window.open("/Budget/EditBudgetForm/" + BudgetId + "?NoOrder=0", "PopupWindow", 'width=400px,height=500px,toolbar=no,menubar=no,resizable=yes,top=' + top + ',left=' + left + '');
        }

        function ShowLogBudget(BudgetId) {
            console.log("ShowEditBudget =" + BudgetId);
            let height = 500;
            let width = 400;
            // set the horizontal center of the popup window the center of the screen.
            var left = (screen.width - width) / 2;
            // set thevertical center of the popup window the center of the screen.
            var top = (screen.height - height) / 2;

            window.open("/Budget/LogBudgetForm/" + BudgetId + "?NoOrder=0", "PopupWindow", 'width=400px,height=500px,toolbar=no,menubar=no,resizable=yes,top=' + top + ',left=' + left + '');
        }
    </script>

    <div class="card card-secondary">
        <div class="card-header">
            <h6 class="card-title">Monthly Department Budget Listing <br /> Month of :  @ViewBag.MonthOf    Year Of : @ViewBag.YearOf </h6>
        </div>
        <div class="card-body  p-0">
            <table class="table  table-head-fixed table-responsive-md " style="height: 500px;">
                <tr>
                    <th>
                        No
                    </th>
                    <th>
                        Budget Code
                    </th>
                    <th>
                        Department
                    </th>
                    <th>
                        Stock Initial
                    </th>
                    <th>
                        NonStock Initial
                    </th>
                    <th></th>
                    <th>
                        Stock Addition
                    </th>
                    <th>
                        NonStock Addition
                    </th>
                    <th>
                        Stock Consumption
                    </th>
                    <th>
                        NonStock Consumption
                    </th>
                    <th>
                        Stock Balance
                    </th>
                    <th>
                        NonStock Balance
                    </th>
                    <th>

                    </th>
                </tr>
                @{ int i = 0;}
                @foreach (var item in Model)
                {
                    i++;
                    <tr>
                        <td>
                            @i
                        </td>
                        <td>
                            @item.BudgetCode
                        </td>
                        <td>
                            @item.department
                        </td>
                        <td>
                            @if (item.StockFlag == true)
                            {
                                <span>No Budget</span>
                            }
                            else
                            {
                                @String.Format("{0:N4}", item.StockInitial)
                            }
                        </td>
                        <td>
                            @if (item.NonStockFlag == true)
                            {
                                <span>No Budget</span>
                            }
                            else
                            {
                                @String.Format("{0:N4}", item.NonStockInitial)
                            }
                        </td>
                        <td>
                            <button type="button" class="btn btn-info" id="@item.MDB_Id" value="@item.MDB_Id" onclick="ShowEditBudget(@item.MDB_Id )" @*data-toggle="tooltip" data-placement="bottom" title="Edit Initial Budget"*@>
                                <i class="fa fa-pen-square"></i>
                            </button>
                        </td>
                        <td>
                            @if (item.AdditionStock != null)
                            {
                                @item.AdditionStock
                            }
                            else
                            {
                                <span>0.00</span>
                            }
                        </td>

                        <td>
                            @if (item.AdditionNonStock != null)
                            {
                                @item.AdditionNonStock
                            }
                            else
                            {
                                <span>0.00</span>
                            }
                        </td>
                        <td>
                            @if (item.ConsumptionStock != null)
                            {
                                @item.ConsumptionStock
                            }
                            else
                            {
                                <span>0.00</span>
                            }
                        </td>
                        <td>
                            @if (item.ConsumptionNonStock != null)
                            {
                                @item.ConsumptionNonStock
                            }
                            else
                            {
                                <span>0.00</span>
                            }
                        </td>
                        <td>
                            @if (item.BalanceStock != null)
                            {
                                @item.BalanceStock
                            }
                            else
                            {
                                <span>0.00</span>
                            }
                        </td>
                        <td>
                            @if (item.BalanceNonStock != null)
                            {
                                @item.BalanceNonStock
                            }
                            else
                            {
                                <span>0.00</span>
                            }
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-md-4">
                                    <button type="button" alt="Add Budget" class="btn btn-success" id="@item.MDB_Id" value="@item.MDB_Id" onclick="ShowAddBudget(@item.MDB_Id )" @*data-toggle="tooltip" data-placement="bottom" title="Additional"*@>
                                        <i class="fa fa-plus-circle"></i>
                                    </button>

                                </div>
                                <div class="col-md-4">
                                    <button type="button" alt="Consumption Budget" class="btn btn-danger" id="@item.MDB_Id" value="@item.MDB_Id" onclick="ShowMinusBudget(@item.MDB_Id )" @*data-toggle="tooltip" data-placement="bottom" title="Consumption"*@>
                                        <i class="fa fa-minus-circle"></i>
                                    </button>
                                </div>

                                <div class="col-md-4">
                                    <button type="button" alt="View Budget Log" class="btn btn-info" id="@item.MDB_Id" value="@item.MDB_Id" @*onclick="ShowLogBudget(@item.MDB_Id )"*@  onclick="location.href = '/Budget/LogBudgetForm/@item.MDB_Id?NoOrder=0';" @*data-toggle="tooltip" data-placement="bottom" title="Budget Log"*@>
                                        <i class="fa fa-sticky-note"></i>
                                    </button>
                                </div>

                                
                                

                            </div>
                        </td>
                    </tr>
                    

                }
            </table>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

    window.updateWithNewData = function () {
        
        $.ajax({
            type: "POST",
            url: "/Budget/LstMonthDeptBudget?seltMonth=" + @ViewBag.MonthInt + "&seltYear=" + @ViewBag.YearOf +"",
            data: '',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                $('#divLstMonthDeptBudget').html(response);
                
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });

        }
    </script>

</div>

