@model IEnumerable<PurchaseWeb_2.ModelData.AccTypeDept>

<div class="card card-secondary">
    <div class="card-header">
        <div class="card-title text-light">
            <h6>Account Department Type List</h6>
        </div>
    </div>
    <div class="card-body table-responsive p-0" style="height: 600px;">
        <div id="notification">
            @Html.Partial("_Notifications")
        </div>
        <table class="table table-striped table-head-fixed text-nowrap">
            <thead>
                <tr>
                    <td>
                        No
                    </td>
                    <td>
                        Name
                    </td>
                    <td>
                        Account Code
                    </td>
                </tr>
            </thead>
            @{ int i = 0;}
            @foreach (var item in Model)
            {
                i++;
                <tr>
                    <td>@i</td>
                    <td>@item.DeptName</td>
                    <td>@item.DeptCode</td>
                    <td>
                        @using (Ajax.BeginForm("UTDepartmentDelete", "Budget", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divUTDepartmentLst" }))
                        {
                            <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
                            <input type="hidden" name="AccTypeDepID" id="AccTypeDepID" value="@item.AccTypeDepID" />
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#notification").delay(3000).fadeOut("slow");
    });
</script>
